.formMinerva {
  display: flex;
  font-family: "Roboto", sans-serif; }

.wellcome {
  width: 36%;
  height: auto;
  background-image: url(../images/bg_login.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .wellcome__imgLogo {
    max-width: 183px;
    width: 100%; }
  .wellcome__logo {
    margin-top: 43px;
    margin-left: 48px; }
  .wellcome__block {
    position: relative;
    top: 50%;
    transform: translateY(-100%); }
  .wellcome__title {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    color: white;
    text-align: center; }
  .wellcome__content {
    margin: 31px 92px 0 92px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: normal; }

.form {
  width: 64%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .form__content {
    text-align: left; }
  .form__title {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #6d30ab; }
  .form__message {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #6d6d6d;
    margin-top: 10px; }
  .form__label {
    font-size: 2em;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    margin-top: 37px;
    margin-bottom: 16px; }
  .form__inputarea {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 70px;
    max-width: 100%;
    margin-top: 15px; }
  .form__input {
    outline: none;
    border: none;
    flex-grow: 1;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    font-size: 24px;
    padding-right: 10px; }
    .form__input::placeholder {
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: italic;
      line-height: 1.2;
      letter-spacing: normal; }
  .form__icon {
    font-size: 29px;
    margin-left: 28px;
    margin-right: 10px; }
  .form__iconEye {
    font-size: 29px;
    margin-left: 10px;
    margin-right: 28px;
    color: #6d30ab; }
  .form__forgotPass {
    margin-top: 39px; }
    .form__forgotPass a {
      font-size: 24px;
      color: grey;
      text-decoration: underline; }
  .form__btn {
    margin-top: 70px;
    max-width: 100%;
    width: 306px;
    font-size: 24px;
    height: 70px;
    color: white;
    border: none;
    outline: none;
    background-color: #6d30ab;
    transition: 0.3s ease-in-out; }
  .form__btn:hover {
    border: 1px solid #6d30ab;
    background-color: white;
    color: #6d30ab; }
  .form__block {
    max-width: 40vw;
    width: 100%; }

@media (max-width: 1199px) {
  .wellcome__title {
    font-size: 49px; }
  .wellcome__content {
    font-size: 21px;
    margin: 15px 60px 0 60px; }

  .form__title {
    font-size: 3em; }
  .form__message {
    font-size: 18px; }
  .form__label {
    font-size: 1.9em;
    margin-top: 60px; }
  .form__inputarea {
    height: 55px; }
    .form__inputarea::placeholder {
      font-size: 20px; }
  .form__input {
    font-size: 20px;
    height: 55px; }
  .form__icon {
    font-size: 24px; }
  .form__iconEye {
    font-size: 24px; }
  .form__btn {
    max-width: 40%; } }
@media (max-width: 991px) {
  .wellcome__title {
    font-size: 40px; }
  .wellcome__content {
    font-size: 18px;
    margin: 15px 25px 0 25px; }

  .form__title {
    font-size: 2.5em; }
  .form__message {
    font-size: 16px; }
  .form__label {
    font-size: 1.6em;
    margin-top: 30px; }
  .form__inputarea {
    height: 50px; }
  .form__input {
    font-size: 16px;
    height: 50px; }
    .form__input::placeholder {
      font-size: 16px; }
  .form__icon {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 8px; }
  .form__iconEye {
    font-size: 22px;
    margin-left: 20px; }
  .form__forgotPass a {
    font-size: 18px; }
  .form__btn {
    margin-top: 30px;
    font-size: 16px;
    max-width: 35%;
    height: 45px; } }
@media (max-width: 767px) {
  .formMinerva {
    display: inline-block; }

  .wellcome {
    width: 100%;
    height: auto; }
    .wellcome__logo {
      margin-top: 0;
      margin-left: 0;
      text-align: center; }
    .wellcome__imgLogo {
      max-width: 150px;
      margin-top: 2em; }
    .wellcome__block {
      top: 0;
      transform: translateY(0); }
    .wellcome__title {
      font-size: 35px;
      margin-top: 0.7em; }
    .wellcome__content {
      margin-top: 5px;
      font-size: 16px;
      padding-bottom: 2em; }

  .form {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 2em 0; }
    .form__title {
      font-size: 2.1em; }
    .form__message {
      font-size: 14px; }
    .form__label {
      font-size: 1.5em; }
    .form__iconEye {
      margin: 0 10px; }
    .form__forgotPass {
      margin-top: 20px; }
      .form__forgotPass a {
        font-size: 15px; }
    .form__btn {
      margin-top: 30px;
      font-size: 14px;
      max-width: 35%;
      height: 40px; }
    .form__block {
      max-width: 80vw;
      width: 100%; } }
@media (max-width: 575px) {
  .wellcome {
    height: auto; }
    .wellcome__imgLogo {
      max-width: 130px; }
    .wellcome__title {
      font-size: 30px;
      margin-top: 0.6em; }
    .wellcome__content {
      font-size: 12px;
      padding-bottom: 2em; }

  .form {
    width: 100%;
    text-align: center;
    height: auto; }
    .form__title {
      font-size: 1.7em; }
    .form__message {
      font-size: 12px; }
    .form__label {
      font-size: 1.3em; }
    .form__forgotPass a {
      font-size: 13px; }
    .form__btn {
      font-size: 12px; } }

/*# sourceMappingURL=main.css.map */
