body {
    font-family: "Rubik", sans-serif;
}
.admin_template {
    display: flex;
    transition: 0.5s;
    width: 100%;
}
.top_nav {
    background-color: rgb(78, 78, 249);
    display: flex;
    align-items: center;
    padding: 25px 30px;
    transition: 0.5s ease-in-out;
    @media (max-width: 767px) {
        padding: 0;
        display: block;
        height: auto;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: white;
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
    }

    &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            padding: 15px 30px 15px 30px;
        }

        .menuSidebar {
            @media (max-width: 767px) {
                display: none;
                padding-right: 60px;
            }
        }
    }
    &--logo_both {
        display: flex;
        width: max-content;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        @media (max-width: 767px) {
            order: 2;
        }
        img {
            padding-left: 10px;
        }
        .logoDark {
            display: none;
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    .showMobileIcon {
        display: none;
        color: white;
        cursor: pointer;
        @media (max-width: 767px) {
            order: 1;
            display: block;
        }
    }
    .showww {
        display: flex;
        @media (max-width: 767px) {
            position: absolute;
            background-color: rgb(78, 78, 249);
            z-index: 2;
            border-top: 1px solid #694cfe;
            padding: 15px 30px 15px 30px;
        }
    }
    &--mobile {
        width: 100%;
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 44px;

        @media (max-width: 767px) {
            display: none;
            // .btn-group {
            //     position: static;
            //     .dropdown_show_content {
            //         width: 100%;
            //         left: 0;
            //     }
            //     .dropdown_show_content--box {
            //         width: 50%;
            //     }
            // }
        }
    }
    &--item {
        color: white;
        opacity: 0.7;
        padding: 0 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        a {
            color: white;
        }
        a:hover {
            text-decoration: none;
            color: none;
        }
        span {
            @media (max-width: 991px) {
                display: none;
            }
        }
        .dropbtn_apps {
            padding: 0 10px;
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    .icon_live_feed {
        @media (max-width: 767px) {
            padding-left: 0;
        }
    }
    &--icon_res {
        font-size: 25px;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
    }
    &--english {
        margin-left: auto;
        // .dropdowncontent--box {
        //     width: 100% !important;
        // }
        .dropdown-menu {
            @media (max-width: 991px) {
                right: 0;
                left: unset;
            }
        }
        .icon_english {
            @media (max-width: 767px) {
                padding-right: 0;
            }
        }
    }
    .btn-group {
        .dropdown_show_content {
            top: 33px !important;
            @media (max-width: 767px) {
                top: 7px !important;
                width: 1005 !important;
            }
        }
    }
    &--element {
        .dropdown_show_content {
            max-width: 480px;
            overflow: hidden;
            left: -155px !important;
            @media (max-width: 991px) {
                left: -144px;
            }
            &--box {
                width: 33%;
            }
        }
        .dropdown_show_content--drop {
            @media (max-width: 767px) {
                display: block;
                height: 180px;
                overflow-y: auto;
            }
        }
        .dropdown_show_content--drop::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: none;
        }

        .dropdown_show_content--drop::-webkit-scrollbar {
            width: 5px;
        }

        .dropdown_show_content--drop::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }
        .dropdown_show_content--drop:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
    &--item:hover {
        opacity: 1;
    }
    &--search {
        border-radius: 20px;

        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        max-width: 250px;
        width: 100%;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &--search_form {
        display: flex;
        align-items: center;
        // border-left: 1px solid rgba(255,255,255,.2);
        input {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 20px;
            max-width: 250px;
            border: none;
            outline: none;
            color: white;
            padding: 8px;
            &::placeholder {
                color: white;
                opacity: 0.7;
            }
        }

        button {
            flex-grow: 1;
            background: none;
            border: none;
            color: white;
            outline: none;
        }
    }
    &--iconClear {
        color: white;
    }
    &--icon_three_dot {
        font-size: 16px;
        color: white;
        // padding-right: 15px;
        display: none;
        @media (max-width: 767px) {
            display: block;
            order: 3;
        }
    }
}

.show-sidebar-on-mobile {
    left: 0 !important;
    // max-width: 260px !important;
}

.left_nav {
    max-width: 260px;
    width: 100%;
    // height: 100%;
    background-color: rgb(78, 78, 249);
    transition: 0.5s;
    z-index: 1;
    @media (max-width: 767px) {
        left: -260px;
        position: absolute;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0 30px 0 30px;
        height: 90px;
    }
    &--profile {
        height: 247px;
    }
    table {
        border: 1;
    }
    &--avatar {
        width: 60px;
        height: 60px;
        align-items: center;
        margin-left: 40%;
        margin-bottom: 30px;
        position: relative;
        img {
            border-radius: 50%;
        }
        .dropdown_show_content {
            left: -4px;
        }
        .box_avt {
            max-width: 136px;
            width: 100%;

            .avt {
                padding: 10px 7px 10px 15px;
            }
            .statuscolor1 {
                color: #02cccd;
            }
            .statuscolor2 {
                color: #ffab2e;
            }
            .statuscolor3 {
                color: #ff3ca6;
            }
            .statuscolor4 {
                color: #8392a5;
            }
        }
    }
    &--status {
        position: absolute;
        background-color: #02cccd;
        color: white;
        right: -3px;
        top: 34px;
        line-height: 10px;
        padding: 1px;
        border-radius: 20px;

        i {
            font-size: 12px;
        }
    }
    &--name {
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    &--position {
        font-size: 14px;
        opacity: 0.7;
        font-weight: 400;
    }
    &--extend {
        width: 100%;

        td {
            width: 33%;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 25px 0;
            color: white;
            font-size: 17px;
            position: relative;
        }
        .quantity-notification {
            position: absolute;
            top: 20px;
            right: 29px;
            line-height: 13px;
            padding: 2px 5px;
            font-weight: 300;
            background-color: #ff3ca6;
            font-size: 11px;
            border-radius: 20px;
            @media (max-width: 767px) {
                color: white;
                padding: 1px 4px;
                font-size: 10px;
            }
        }

        .dropdown_show_content {
            margin-left: 0;
            width: 260px;
            top: 73px;
            left: -2px;
            &--box {
                width: 100%;
            }
            &--box_item {
                opacity: 1;
                padding: 10px 10px 10px 15px;
                align-items: center;
            }
            &--box_item:active {
                background-color: none;
            }
        }

        .content_notification {
            height: 200px;
            overflow: auto;
        }
        .content_notification::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: none;
        }

        .content_notification::-webkit-scrollbar {
            width: 5px;
        }

        .content_notification::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }
        .content_notification:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .notification_new {
            background-image: url(../images/img5.png);
            background-repeat: no-repeat;
            background-size: cover;
            // background-color: #3f50f6;
            margin-top: -3px;
            &--title {
                height: auto;
                padding: 10px 0 10px 15px;
                h4 {
                    font-weight: 400;
                }
            }
        }
        .notification_avatar {
            padding-right: 10px;
            font-size: 23px;
            width: 42px;
            height: 42px;
            line-height: 20px;
            padding: 10px;
            text-align: center;
            border-radius: 100%;
            background-color: #ff3ca6;
            i {
                font-size: 23px;
            }
        }
        .avt_icon1 {
            background-color: #ff3ca6;
        }
        .avt_icon2 {
            background-color: #02cccd;
        }
        .avt_icon3 {
            background-color: #3f50f6;
        }
        .avt_icon4 {
            background-color: #7057d2;
        }

        .notification_content {
            display: grid;
            padding-left: 10px;
            span {
                color: #8392a5;
                font-size: 12px;
            }
        }
        .check_notification {
            font-weight: 500;
            padding: 10px 0;
            text-align: center;
            color: #343a40;
        }
    }
    &--setting {
        .dropdown_show_content {
            width: 0;
        }
    }
    &--boxchat {
        .dropdown-menu {
            right: 0;
            left: unset;
            // display: flex;
            // justify-content: flex-end;
        }
        .notification_avatar {
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    /////////
    &--list_tool {
        background: #f2f6fb;
        color: black;
        list-style: none;
        padding-left: 0;
        padding-top: 15px;
        height: calc(100vh - 341px);
        overflow-y: auto;
        @media (max-width: 767px) {
            height: calc(100vh - 313px);
        }
    }
    //custom scrollbar
    &--list_tool::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: none;
    }

    &--list_tool::-webkit-scrollbar {
        width: 5px;
    }

    &--list_tool::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
    &--list_tool:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    .active {
        opacity: 1;
    }
    .custome_active {
        color: white;
        padding: 12px 0;
        border-radius: 0 60px 60px 0;
        background: #3f50f6;
    }

    //line
    &--divider {
        height: 1px;
        display: block;
        margin: 20px 0;
        opacity: 0.1;
        background: #818181;
    }

    &--big_cap {
        font-size: 16px;
        align-items: center;
        opacity: 0.7;
        padding: 12px 0;
        list-style: none;
        .clickDrop {
            display: flex;
            align-items: center;
        }
        i {
            font-size: 20px;
            padding: 0 15px;
        }
        .icon-dropdown {
            float: right;
            font-size: 15px;
            padding: 0 30px;
            margin-left: auto;
        }
    }
    &--big_cap:hover {
        opacity: 1;
        cursor: pointer;
    }
    &--small_cap {
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        line-height: 30px;
        opacity: 1;
        padding-left: 15px;
        label {
            font-weight: unset;
            margin: 0;
        }
        .label_dashboard {
            padding-top: 15px;
        }
    }
    &--big_list {
        list-style: none;
        border-left: 1px solid #818181;
        margin-left: 25px !important;
        margin-top: 10px !important;
        li {
            padding: 15px 0 !important;
            margin-left: 15px !important;
            label {
                font-weight: unset;
                cursor: pointer;
                opacity: 0.7;
            }
            label:hover {
                opacity: 1;
            }
        }
    }
    &--big_list {
        li:hover {
            opacity: 1;
        }
    }
}

.dropdown_show_content {
    border: none;
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 53px;
    border-radius: 0;

    @media (max-width: 767px) {
        top: 38px;
        left: -33px;
    }
    &--drop {
        display: flex;
    }
    &--box {
        color: black;
        cursor: pointer;
    }
    &--box_item {
        padding: 10px 90px 10px 15px;
        font-size: 14px;
        opacity: 0.7;
        display: flex;
        width: max-content;
        i {
            padding-right: 10px;
            font-size: 16px;
        }
        @media (max-width: 991px) {
            padding: 10px 25px 10px 15px;
        }
    }
    &--box_item:hover {
        opacity: 1;
    }
    &--box_item:active {
        color: white;
        background-color: rgb(78, 78, 249);
    }
}
//expand logo khi hover
.expandLogo {
    img {
        display: block;
    }
    .logoDark {
        display: none;
        @media (max-width: 991px) {
            display: none !important;
        }
    }
    .logoLight {
        display: block;
        @media (max-width: 991px) {
            display: block !important;
        }
    }
}
.sidebar_expand {
    .top_nav {
        img {
            display: none;
        }
        .logoDark {
            display: none;
            @media (max-width: 991px) {
                display: none !important;
            }
        }
        .logoLight {
            display: none;
            @media (max-width: 991px) {
                display: none !important;
            }
        }
        .menuSidebar {
            margin-left: 0;
            margin-right: 30px;
        }
    }
    .left_nav {
        max-width: 65px;
        &--profile {
            height: 75px;
        }
        &--avatar {
            margin-left: 15%;
            width: 45px;
            height: 45px;
        }
        &--section_profile {
            display: none;
        }
        &--list_tool {
            height: calc(100vh - 169px);
        }

        &--cap {
            // text-align: center;
            .icon-dropdown {
                display: none;
            }
            span {
                display: none;
            }
            label {
                display: none;
            }
        }
        &--big_list {
            label {
                display: none !important;
            }
        }
    }
}

//hover left-nav
.sidebar_expand {
    .left_nav {
        // height: unset;
        &:hover {
            max-width: 260px;
            position: absolute;
            .left_nav {
                &--profile {
                    height: 247px;
                }
                &--avatar {
                    width: 60px;
                    height: 60px;
                    align-items: center;
                    margin-left: 40%;
                    margin-bottom: 30px;
                    position: relative;
                }
                &--section_profile {
                    display: block;
                }
                &--list_tool {
                    height: calc(100vh - 341px);
                    // @media (max-width: 991px) {
                    //     height: calc(100vh - 341px);
                    // }
                }
                &--cap {
                    display: block;
                    .icon-dropdown {
                        display: block;
                    }
                    span {
                        display: block;
                    }
                    label {
                        display: block;
                    }
                }
                &--big_list {
                    label {
                        display: block !important;
                    }
                }
                &--cap_no_list {
                    display: flex !important;
                }
            }
        }
    }
}

.line {
    background: white;
    opacity: 0.7;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    transition: 0.3s ease-in;
    width: 10px;
    margin-right: -5px;
    cursor: pointer;
}
.line2 {
    width: 20px;
}
.iconbar {
    cursor: pointer;
}
.iconbar:hover {
    .line1 {
        width: 20px;
        cursor: pointer;
    }
}
.showSettingColor {
    right: 0 !important;
}
.setting_color {
    background: #f8f9fa;
    position: fixed;
    height: 100%;
    max-width: 280px;
    width: 100%;
    top: 0;
    right: -280px;
    // right: 0;
    z-index: 100;
    box-shadow: 0 3px 9px 0 rgba(162, 176, 190, 0.15);
    transition: 0.3s ease-in;

    &--icon_setting {
        background: #ff3ca6;
        padding: 12px 10px;
        color: #fff;
        position: absolute;
        top: 45%;
        left: -36px;
        i {
            animation: fa-spin 2s infinite linear;
        }
    }
    &--table_background {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        h5 {
            color: #3e5569;
            font-size: 16px;
            font-weight: 500;
        }
    }
    &--layouts_show {
        padding: 15px;
        border-bottom: 1px solid #e8eef3;
        .form_check_layout {
            color: #3e5569;
            font-size: 14px;
            font-weight: unset;
        }
    }

    &--header_background {
        padding: 15px;
        border-bottom: 1px solid #e8eef3;
    }
    &--left_nav_background {
        padding: 15px;
        border-bottom: 1px solid #e8eef3;
    }
    .color_choices {
        display: flex;
        .color {
            height: 20px;
            width: 20px;
            border-radius: 100%;
            margin-right: 15px;
        }
        .color_bg1 {
            background-color: #3f50f6;
        }
        .color_bg2 {
            background-color: #fe5419;
        }
        .color_bg3 {
            background-color: #00b0ff;
        }
        .color_bg4 {
            background-color: #6659f7;
        }
        .color_bg5 {
            background-color: #1d2e42;
        }
        .color_bg6 {
            background-color: #a1aab2;
        }
    }
}
.headerColorBg1 {
    .top_nav {
        background-color: #3f50f6;
        .showww {
            background-color: #3f50f6;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .left_nav {
        background-color: #3f50f6;
    }
}
.headerColorBg2 {
    .top_nav {
        background-color: #fe5419;
        .showww {
            background-color: #fe5419;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .left_nav {
        background-color: #fe5419;
    }
}
.headerColorBg3 {
    .top_nav {
        background-color: #00b0ff;
        .showww {
            background-color: #00b0ff;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .left_nav {
        background-color: #00b0ff;
    }
}
.headerColorBg4 {
    .top_nav {
        background-color: #6659f7;
        .showww {
            background-color: #6659f7;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .left_nav {
        background-color: #6659f7;
    }
}
.headerColorBg5 {
    .top_nav {
        background-color: #1d2e42;
        .showww {
            background-color: #1d2e42;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .left_nav {
        background-color: #1d2e42;
    }
}
.headerColorBg6 {
    .top_nav {
        background-color: #f2f6fb;
        &--item {
            color: black;
        }
        .line {
            background: black;
        }
        .showMobileIcon {
            color: black;
        }
        .logoLight {
            display: none;
        }
        .logoDark {
            display: block;
            @media (max-width: 991px) {
                display: block;
            }
        }
        &--icon_three_dot {
            color: black;
        }
        .showww {
            background-color: #f2f6fb;
            color: black;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .left_nav {
        background-color: #f2f6fb;
        &--name {
            color: black;
        }
        ul {
            margin-top: 1px;
        }
        &--extend {
            td {
                border: 1px solid grey;
                color: black;
            }
            .quantity-notification {
                color: white;
            }
        }
        &--box {
            border-left: none !important;
        }
        &--boxchat {
            border-right: none !important;
        }
    }
}
.hideDarkLogo {
    .top_nav {
        .logoDark {
            display: none;
            @media (max-width: 991px) {
                display: none;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}
.changeBgActivee1 {
    .activee {
        // background: #3f50f6;
        background: linear-gradient(90deg, #3f50f6, #5f54ff);
    }
}
.changeBgActivee2 {
    .activee {
        // background: #fe5419;
        background: linear-gradient(90deg, #f78661, #fa9e61);
    }
}
.changeBgActivee3 {
    .activee {
        // background: #00b0ff;
        background: linear-gradient(90deg, #00b0ff, #69c8ee);
    }
}
.changeBgActivee4 {
    .activee {
        background: #6659f7;
        background: linear-gradient(90deg, #6659f7, #a39afa);
    }
}
.changeBgActivee5 {
    .activee {
        // background: #1d2e42;
        background: linear-gradient(90deg #1d2e42 #605d91);
    }
}
.changeBgActivee6 {
    .activee {
        // background: #f2f6fb;
        background: linear-gradient(90deg, #f2f6fb, #b9b7b7);
        color: black;
    }
}
.listToolColorBg1 {
    .left_nav {
        &--list_tool {
            background-color: #3f50f6;
        }
    }
}
.listToolColorBg2 {
    .left_nav {
        &--list_tool {
            background-color: #fe5419;
        }
    }
}
.listToolColorBg3 {
    .left_nav {
        &--list_tool {
            background-color: #00b0ff;
        }
    }
}
.listToolColorBg4 {
    .left_nav {
        &--list_tool {
            background-color: #6659f7;
        }
    }
}
.listToolColorBg5 {
    .left_nav {
        &--list_tool {
            background-color: #1d2e42;
        }
    }
}
.listToolColorBg6 {
    .left_nav {
        &--list_tool {
            background-color: #f2f6fb;
            color: black;
        }
    }
}
//////////////////////

//-------------------------LIVE FEED-------------------------
.chat_block {
    display: flex;
    height: fit-content;
}
.showChatBlockOnMobile {
    left: 0 !important;
}

.chat_sidebar {
    border-right: 1px solid #e8eef3;
    height: calc(100% - 109px);
    width: 260px;
    @media (max-width: 767px) {
        left: -260px;
        position: fixed;
        background: #fff;
    }
    .showChatMobile {
        i {
            display: none;
            @media (max-width: 767px) {
                display: block;
                background-color: #02cccd;
                padding: 12px 11px;
                color: white;
                top: 45%;
                position: absolute;
                right: -38px;
            }
        }
        i:hover{
            background-color: #02a6a7;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &--title_chat_sidebar {
        padding: 15px;
        font-weight: 400;
    }
    &--title_search_contact {
        padding: 15px;
    }
    &--search_contact {
        padding: 0 15px;
        border-bottom: 1px solid #e8eef3;
    }
    &--input_search_contact {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4f5467;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e9ecef;
        border-radius: 2px;
        outline: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    &--list_contact {
        height: calc(100vh - 261px);
        overflow-x: auto;
    }
    &--list_contact::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: none;
    }

    &--list_contact::-webkit-scrollbar {
        width: 5px;
    }

    &--list_contact::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
    &--list_contact:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &--app_chat {
        li {
            border-bottom: 1px solid #e8eef3;
            position: relative;
        }
        a {
            color: #3e5569;
            text-decoration: none;
            font-weight: 400;
        }
    }
    &--message_center {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    &--avatar {
        width: 40px;
        height: 40px;
        img {
            border-radius: 50%;
        }
    }
    &--profile_status {
        background: #02cccd;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        left: 40px;
        position: absolute;
        top: 19px;
        width: 10px;
    }
    &--mail_connect {
        padding-left: 10px;
        .font-12 {
            font-size: 12px;
            color: #8392a5;
        }
    }
    &--name_user {
        color: #212529;
        font-weight: 400;
        margin-bottom: 0;
    }
}
.chat_content {
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid #e8eef3;
    margin: 15px;
}
.chat_not {
    border: none;
    width: 100%;
    @media (max-width: 767px) {
        height: 80vh;
    }
    &--not_select {
        width: 100%;
        .icon_chat_not_select {
            color: #3f50f6;
            font-size: 80px;
        }
        h5 {
            font-weight: 400;
            line-height: 1.2;
            font-size: 16px;
            color: #3e5569;
        }
    }
}

.chat_select {
    display: none;
    text-align: unset;
    height: fit-content;
    &--header_chat_box {
        margin: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e8eef3;
        img {
            width: 45px;
            border-radius: 50%;
            height: 45px;
        }
        .name_user {
            font-weight: 600;
            color: #3e5569;
            font-size: 16px;
        }
    }
    &--content_message {
        height: calc(100vh - 360px);
        overflow-y: auto;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
    &--content_message::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: none;
    }

    &--content_message::-webkit-scrollbar {
        width: 5px;
    }

    &--content_message::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
    &--content_message:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &--chat_item {
        padding: 20px;
        padding-right: 50px;
        .someone_chat {
            display: flex;
            .chat_img {
                img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
            .conversation {
                padding: 0 15px;
                .user_name {
                    padding: 0 10px;
                    font-weight: 400px;
                    font-size: 15px;
                }
            }
            .message_form_someone {
                padding: 10px;
                background-color: #eef5ff;
            }
        }
        .chat_time {
            display: block;
            font-size: 10px;
            color: #4f5467;
            margin: 5px 0 15px 65px;
        }
    }
    &--chat_item_me {
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;
        padding-left: 50px;
        .chat_time_me {
            display: flex;
            justify-content: flex-end;
            font-size: 10px;
            color: #4f5467;
            margin: 5px 0 15px 65px;
        }
        .message_from_me {
            padding: 10px;
            background-color: #e4fbf8;
        }
    }
    &--me_input_text {
        border-top: 1px solid #e8eef3;
        input {
            border: none;
            width: 100%;
            padding: 20px;
            outline: none;
            padding-top: 25px;
        }
    }
}
