.admin {
    font-family: "Rubik", sans-serif;
}
.admintemplate{
    display: flex;
}
.topnav {
    background-color: rgb(78, 78, 249);
    height: 90px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    @media (max-width: 767px) {
        display: block;
    }
    &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0 30px 0 30px;
        @media (max-width: 767px) {
            padding: 15px 30px 15px 30px;
        }
        
        .menushow{
            @media (max-width: 767px) {
                order: 1;
            }
        }
    }
    &--logoboth{
        display: contents;
        img{
            padding-left: 10px;
        }
        @media (max-width: 767px) {
            img{
                order: 2;
            }
        }
    }
    &--mobile{
        display: contents;
        @media (max-width: 767px) {
            display: none;
        }
        
    }
    &--item {
        color: white;
        opacity: 0.7;
        padding: 0 15px;
        font-size: 16px;
        cursor: pointer;
        span {
            @media (max-width: 991px) {
                display: none;
            }
        }
        .dropbtnapps {
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    &--iconres {
        font-size: 25px;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
    }

    &--english {
        .dropdowncontent--box {
            width: 100%;
        }
        .dropdown-menu {
            @media (max-width: 991px) {
                right: 0;
                left: unset;
            }
        }
    }
    &--element {
        flex-grow: 1;
    }
    &--item:hover {
        opacity: 1;
    }
    &--search {
        border-radius: 20px;
        background-color: rgb(93, 68, 228);
        border: none;
        max-width: 250px;
        width: 100%;
        margin-right: 15px;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &--searchform {
        display: flex;
        align-items: center;
        // border-left: 1px solid rgba(255,255,255,.2);
        input {
            background: none;
            border: none;
            outline: none;
            color: white;
            margin-left: 10px;
            padding: 8px;
            &::placeholder {
                color: white;
                opacity: 0.7;
            }
        }

        button {
            flex-grow: 1;
            background: none;
            border: none;
            color: white;
        }
    }
    &--iconx {
        color: white;
    }
    &--iconthreedot{
        font-size: 16px;
        color: white;
        padding-right: 15px;
        display: none;
        @media (max-width: 767px) {
            display: block;
            order: 3;
        }
    }
}
.leftnav {
    width: 14%;
    background-color: rgb(78, 78, 249);
    transition: 0.5s;
    @media (max-width: 767px) {
        display: none;
        max-width: 260px;
        width: 100%;
    }
    &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0 30px 0 30px;
        height: 90px;

    }
    table {
        border: 1;
    }
    &--profile {
        align-items: center;
    }
    &--avatar {
        width: 60px;
        height: 60px;
        align-items: center;
        background-image: url(../images/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-left: 40%;
        margin-bottom: 30px;
        position: relative;
        .dropdowncontent {
            left: -4px;
        }
        .boxavt {
            max-width: 136px;
            width: 100%;

            .avt {
                padding: 10px 7px 10px 15px;
            }
            .statuscolor1 {
                color: #02cccd;
            }
            .statuscolor2 {
                color: #ffab2e;
            }
            .statuscolor3 {
                color: #ff3ca6;
            }
            .statuscolor4 {
                color: #8392a5;
            }
        }
    }
    &--status {
        position: absolute;
        background-color: #02cccd;
        color: white;
        right: -3px;
        top: 39px;
        line-height: 10px;
        padding: 1px;
        border-radius: 20px;
        i {
            font-size: 12px;
        }
    }
    &--name {
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    &--posit {
        font-size: 14px;
        opacity: 0.7;
        font-weight: 400;
    }
    &--extend {
        width: 100%;

        td {
            width: 33%;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 25px 0;
            color: white;
            font-size: 17px;
            position: relative;
        }
        .quantity-noti {
            position: absolute;
            top: 20px;
            right: 29px;
            line-height: 13px;
            padding: 2px 5px;
            font-weight: 300;
            background-color: #ff3ca6;
            font-size: 11px;
            border-radius: 20px;
        }

        .dropdowncontent {
            margin-left: 0;
            width: 260px;
            top: 73px;
            &--box {
                width: 100%;
            }
            &--boxitem {
                opacity: 1;
                padding: 10px 10px 10px 15px;
                align-items: center;
            }
            &--boxitem:active {
                background-color: none;
            }
        }

        .contentnoti {
            height: 200px;
            overflow: auto;
        }
        .contentnoti::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: none;
        }

        .contentnoti::-webkit-scrollbar {
            width: 5px;
        }

        .contentnoti::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }
        .contentnoti:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .notifinew {
            background-image: url(../images/img5.png);
            background-repeat: no-repeat;
            background-size: cover;
            // background-color: #3f50f6;
            margin-top: -3px;
            &--title {
                height: auto;
                padding: 10px 0 10px 15px;
                h4 {
                    font-weight: 400;
                }
            }
        }
        .notifiavatar {
            padding-right: 10px;
            font-size: 23px;
            width: 42px;
            height: 42px;
            line-height: 20px;
            padding: 10px;
            text-align: center;
            border-radius: 100%;
            background-color: #ff3ca6;
            i {
                font-size: 23px;
            }
        }
        .avticon1 {
            background-color: #ff3ca6;
        }
        .avticon2 {
            background-color: #02cccd;
        }
        .avticon3 {
            background-color: #3f50f6;
        }
        .avticon4 {
            background-color: #7057d2;
        }

        .notificontent {
            display: grid;
            padding-left: 10px;
            span {
                color: #8392a5;
                font-size: 12px;
            }
        }
        .checknotifi {
            font-weight: 500;
            padding: 10px 0;
            text-align: center;
            color: #343a40;
        }
    }
    &--setting {
        .dropdowncontent {
            width: 0;
        }
    }
    &--boxchat {
        .dropdown-menu {
            right: 0;
            left: unset;
            float: right;
        }
        .avticon1 {
            background-image: url(../images/2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .avticon2 {
            background-image: url(../images/3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .avticon3 {
            background-image: url(../images/4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .avticon4 {
            background-image: url(../images/5.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    /////////
    &--listtool {
        background: #f2f6fb;
        color: black;
        list-style: none;
        padding-left: 0;
        padding-top: 15px;
        // height: calc(100% - 281px);
        height: 100vh;
        overflow: auto;
    }
    //custom scrollbar
    &--listtool::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: none;
    }

    &--listtool::-webkit-scrollbar {
        width: 5px;
    }

    &--listtool::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
    &--listtool:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &--dashmain {
        border-radius: 0 60px 60px 0;
        background: linear-gradient(to right, #4051f6, #475cf3, #4f65ef, #586eea, #6177e5);
        // opacity: 1;
        padding: 12px 0;
        margin-right: 15px;

        .dashdown {
            padding-right: 15px !important;
        }
    }
    //line
    &--divider {
        height: 1px;
        background: #fff;
        display: block;
        margin: 20px 0;
        opacity: 0.1;
        background: #818181;
    }
    &--bigcap {
        font-size: 16px;
        align-items: center;
        opacity: 0.7;
        padding: 12px 0;
        list-style: none;
        // span{
        //     flex-grow: 1;
        // }
        i {
            font-size: 20px;
            padding: 0 15px;
        }
        .la-angle-down {
            float: right;
            padding: 0 30px;
        }
    }
    &--bigcap:hover {
        opacity: 1;
        cursor: pointer;
    }

    &--smallcap {
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        line-height: 30px;
        opacity: 1;
        padding-left: 15px;
    }
    &--biglist {
        list-style: none;
        border-left: 1px solid #818181;
        margin-left: 25px;
        margin-top: 10px;
        li {
            padding: 15px 0;
            margin-left: -15px;
        }
    }
    &--biglist {
        li:hover {
            opacity: 1;
        }
    }
}
.dropdown-menu {
    border: none;
}
.dropdowncontent {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 54px;
    border-radius: 0;
    @media (max-width: 991px) {
        top: 56px;
    }
    &--drop {
        display: flex;
    }
    &--box {
        color: black;
        cursor: pointer;
    }
    &--boxitem {
        padding: 10px 90px 10px 15px;
        font-size: 14px;
        opacity: 0.7;
        display: flex;
        width: max-content;
        i {
            padding-right: 10px;
            font-size: 16px;
        }
        @media (max-width: 991px) {
            padding: 10px 25px 10px 15px;
        }
    }
    &--boxitem:hover {
        opacity: 1;
    }
    &--boxitem:active {
        color: white;
        background-color: rgb(78, 78, 249);
    }
}
.sidebar-expand {
    .topnav {
        img {
            display: none;
        }
    }
    .leftnav {
        width: 100px;
        &--avatar {
            margin-left: 20%;
            width: 45px;
            height: 45px;
        }
        &--name {
            display: none;
        }
        &--extend {
            display: none;
        }
        &--bigcap {
            text-align: center;
            .la-angle-down {
                display: none;
            }
            span {
                display: none;
            }
        }
        &--smallcap {
            display: none;
        }
    }
}
.content{
    width: 86%;
}
// .line1{
//     background: white;
//     height: 2px;
//     margin-bottom: 4px;
//     display: block;
//     transition: .3s ease-in;
//     width: 10px;
//     margin-right: -5px;
// }
// .line2{
//     width: 20px;
//     background: white;
//     height: 2px;
//     margin-bottom: 4px;
//     display: block;
//     transition: .3s ease-in;
    
// }

// .iconbar:hover{
//     .line1{
//         width: 20px;
//     }

// }
