body {
  font-family: "Rubik", sans-serif; }

.admin_template {
  display: flex;
  transition: 0.5s; }

.top_nav {
  background-color: #4e4ef9;
  display: flex;
  align-items: center;
  padding: 25px 30px;
  transition: 0.5s ease-in-out; }
  @media (max-width: 767px) {
    .top_nav {
      padding: 0;
      display: block;
      height: auto; } }
  .top_nav input:-webkit-autofill,
  .top_nav input:-webkit-autofill:hover,
  .top_nav input:-webkit-autofill:focus,
  .top_nav textarea:-webkit-autofill,
  .top_nav textarea:-webkit-autofill:hover,
  .top_nav textarea:-webkit-autofill:focus,
  .top_nav select:-webkit-autofill,
  .top_nav select:-webkit-autofill:hover,
  .top_nav select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s; }
  .top_nav .collapse.in {
    display: flex; }
    @media (max-width: 767px) {
      .top_nav .collapse.in {
        position: absolute;
        background-color: #4e4ef9;
        z-index: 1;
        display: flex;
        border-top: 1px solid #694cfe;
        padding: 15px 30px 15px 30px; } }
  .top_nav--logo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .top_nav--logo {
        padding: 15px 30px 15px 30px; } }
    .top_nav--logo .menuSidebar {
      margin: 0 15px; }
      @media (max-width: 767px) {
        .top_nav--logo .menuSidebar {
          display: none;
          padding-right: 60px; } }
  .top_nav--logo_both {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: space-between;
    height: 36px; }
    @media (max-width: 767px) {
      .top_nav--logo_both {
        order: 2; } }
    .top_nav--logo_both img {
      padding-left: 10px; }
    .top_nav--logo_both .logoDark {
      display: none; }
      @media (max-width: 991px) {
        .top_nav--logo_both .logoDark {
          display: none; } }
  .top_nav .showMobileIcon {
    display: none;
    color: white;
    cursor: pointer; }
    @media (max-width: 767px) {
      .top_nav .showMobileIcon {
        order: 1;
        display: block; } }
  .top_nav--mobile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 44px; }
    @media (max-width: 767px) {
      .top_nav--mobile {
        display: none; }
        .top_nav--mobile .btn-group {
          position: static; }
          .top_nav--mobile .btn-group .dropdown_show_content {
            width: 100%;
            left: 0; }
          .top_nav--mobile .btn-group .dropdown_show_content--box {
            width: 50%; } }
  .top_nav--item {
    color: white;
    opacity: 0.7;
    padding: 0 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer; }
    @media (max-width: 991px) {
      .top_nav--item span {
        display: none; } }
    .top_nav--item .dropbtn_apps {
      padding: 0 10px; }
      @media (max-width: 991px) {
        .top_nav--item .dropbtn_apps {
          display: none; } }
  @media (max-width: 767px) {
    .top_nav .icon_live_feed {
      padding-left: 0; } }
  .top_nav--icon_res {
    font-size: 25px;
    display: none; }
    @media (max-width: 991px) {
      .top_nav--icon_res {
        display: block; } }
  .top_nav--english {
    margin-left: auto; }
    .top_nav--english .dropdowncontent--box {
      width: 100%; }
    @media (max-width: 991px) {
      .top_nav--english .dropdown-menu {
        right: 0;
        left: unset; } }
    @media (max-width: 767px) {
      .top_nav--english .icon_english {
        padding-right: 0; } }
  .top_nav .btn-group .dropdown_show_content {
    top: 57px; }
    @media (max-width: 767px) {
      .top_nav .btn-group .dropdown_show_content {
        top: 41px; } }
  .top_nav--element .dropdown_show_content {
    max-width: 480px;
    overflow: hidden; }
    @media (max-width: 991px) {
      .top_nav--element .dropdown_show_content {
        left: -144px; } }
    .top_nav--element .dropdown_show_content--box {
      width: 33%; }
  @media (max-width: 767px) {
    .top_nav--element .dropdown_show_content--drop {
      display: block;
      height: 180px;
      overflow-y: auto; } }
  .top_nav--element .dropdown_show_content--drop::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none; }
  .top_nav--element .dropdown_show_content--drop::-webkit-scrollbar {
    width: 5px; }
  .top_nav--element .dropdown_show_content--drop::-webkit-scrollbar-thumb {
    border-radius: 10px; }
  .top_nav--element .dropdown_show_content--drop:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); }
  .top_nav--item:hover {
    opacity: 1; }
  .top_nav--search {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    max-width: 250px;
    width: 100%; }
    @media (max-width: 991px) {
      .top_nav--search {
        display: none; } }
  .top_nav--search_form {
    display: flex;
    align-items: center; }
    .top_nav--search_form input {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 20px;
      max-width: 250px;
      border: none;
      outline: none;
      color: white;
      padding: 8px; }
      .top_nav--search_form input::placeholder {
        color: white;
        opacity: 0.7; }
    .top_nav--search_form button {
      flex-grow: 1;
      background: none;
      border: none;
      color: white;
      outline: none; }
  .top_nav--iconClear {
    color: white; }
  .top_nav--icon_three_dot {
    font-size: 16px;
    color: white;
    display: none; }
    @media (max-width: 767px) {
      .top_nav--icon_three_dot {
        display: block;
        order: 3; } }

.show-sidebar-on-mobile {
  left: 0 !important; }

.left_nav {
  max-width: 260px;
  width: 100%;
  background-color: #4e4ef9;
  transition: 0.5s;
  z-index: 1; }
  @media (max-width: 767px) {
    .left_nav {
      left: -260px;
      position: absolute; } }
  .left_nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .left_nav--logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 30px 0 30px;
    height: 90px; }
  .left_nav--profile {
    height: 230px; }
  .left_nav table {
    border: 1; }
  .left_nav--avatar {
    width: 60px;
    height: 60px;
    align-items: center;
    margin-left: 40%;
    margin-bottom: 30px;
    position: relative; }
    .left_nav--avatar img {
      border-radius: 50%; }
    .left_nav--avatar .dropdown_show_content {
      left: -4px; }
    .left_nav--avatar .box_avt {
      max-width: 136px;
      width: 100%; }
      .left_nav--avatar .box_avt .avt {
        padding: 10px 7px 10px 15px; }
      .left_nav--avatar .box_avt .statuscolor1 {
        color: #02cccd; }
      .left_nav--avatar .box_avt .statuscolor2 {
        color: #ffab2e; }
      .left_nav--avatar .box_avt .statuscolor3 {
        color: #ff3ca6; }
      .left_nav--avatar .box_avt .statuscolor4 {
        color: #8392a5; }
  .left_nav--status {
    position: absolute;
    background-color: #02cccd;
    color: white;
    right: -3px;
    top: 34px;
    line-height: 10px;
    padding: 1px;
    border-radius: 20px; }
    .left_nav--status i {
      font-size: 12px; }
  .left_nav--name {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300; }
  .left_nav--position {
    font-size: 14px;
    opacity: 0.7;
    font-weight: 400; }
  .left_nav--extend {
    width: 100%; }
    .left_nav--extend td {
      width: 33%;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 25px 0;
      color: white;
      font-size: 17px;
      position: relative; }
    .left_nav--extend .quantity-notification {
      position: absolute;
      top: 20px;
      right: 29px;
      line-height: 13px;
      padding: 2px 5px;
      font-weight: 300;
      background-color: #ff3ca6;
      font-size: 11px;
      border-radius: 20px; }
      @media (max-width: 767px) {
        .left_nav--extend .quantity-notification {
          color: white;
          padding: 1px 4px;
          font-size: 10px; } }
    .left_nav--extend .dropdown_show_content {
      margin-left: 0;
      width: 260px;
      top: 73px;
      left: -2px; }
      .left_nav--extend .dropdown_show_content--box {
        width: 100%; }
      .left_nav--extend .dropdown_show_content--box_item {
        opacity: 1;
        padding: 10px 10px 10px 15px;
        align-items: center; }
      .left_nav--extend .dropdown_show_content--box_item:active {
        background-color: none; }
    .left_nav--extend .content_notification {
      height: 200px;
      overflow: auto; }
    .left_nav--extend .content_notification::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: none; }
    .left_nav--extend .content_notification::-webkit-scrollbar {
      width: 5px; }
    .left_nav--extend .content_notification::-webkit-scrollbar-thumb {
      border-radius: 10px; }
    .left_nav--extend .content_notification:hover::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); }
    .left_nav--extend .notification_new {
      background-image: url(../images/img5.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -3px; }
      .left_nav--extend .notification_new--title {
        height: auto;
        padding: 10px 0 10px 15px; }
        .left_nav--extend .notification_new--title h4 {
          font-weight: 400; }
    .left_nav--extend .notification_avatar {
      padding-right: 10px;
      font-size: 23px;
      width: 42px;
      height: 42px;
      line-height: 20px;
      padding: 10px;
      text-align: center;
      border-radius: 100%;
      background-color: #ff3ca6; }
      .left_nav--extend .notification_avatar i {
        font-size: 23px; }
    .left_nav--extend .avt_icon1 {
      background-color: #ff3ca6; }
    .left_nav--extend .avt_icon2 {
      background-color: #02cccd; }
    .left_nav--extend .avt_icon3 {
      background-color: #3f50f6; }
    .left_nav--extend .avt_icon4 {
      background-color: #7057d2; }
    .left_nav--extend .notification_content {
      display: grid;
      padding-left: 10px; }
      .left_nav--extend .notification_content span {
        color: #8392a5;
        font-size: 12px; }
    .left_nav--extend .check_notification {
      font-weight: 500;
      padding: 10px 0;
      text-align: center;
      color: #343a40; }
  .left_nav--setting .dropdown_show_content {
    width: 0; }
  .left_nav--boxchat .dropdown-menu {
    right: 0;
    left: unset; }
  .left_nav--boxchat .notification_avatar {
    padding: 0; }
    .left_nav--boxchat .notification_avatar img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .left_nav--list_tool {
    background: #f2f6fb;
    color: black;
    list-style: none;
    padding-left: 0;
    padding-top: 15px;
    height: calc(100vh - 325px);
    overflow-y: auto; }
    @media (max-width: 767px) {
      .left_nav--list_tool {
        height: calc(100vh - 297px); } }
  .left_nav--list_tool::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none; }
  .left_nav--list_tool::-webkit-scrollbar {
    width: 5px; }
  .left_nav--list_tool::-webkit-scrollbar-thumb {
    border-radius: 10px; }
  .left_nav--list_tool:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); }
  .left_nav .active {
    opacity: 1; }
  .left_nav .custome_active {
    color: white;
    padding: 12px 0;
    border-radius: 0 60px 60px 0;
    background: #3f50f6; }
  .left_nav--divider {
    height: 1px;
    display: block;
    margin: 20px 0;
    opacity: 0.1;
    background: #818181; }
  .left_nav--big_cap {
    font-size: 16px;
    align-items: center;
    opacity: 0.7;
    padding: 12px 0;
    list-style: none; }
    .left_nav--big_cap .clickDrop {
      display: flex;
      align-items: center; }
    .left_nav--big_cap i {
      font-size: 20px;
      padding: 0 15px; }
    .left_nav--big_cap .icon-dropdown {
      float: right;
      font-size: 15px;
      padding: 0 30px;
      margin-left: auto; }
  .left_nav--big_cap:hover {
    opacity: 1;
    cursor: pointer; }
  .left_nav--small_cap {
    font-size: 14px;
    white-space: nowrap;
    align-items: center;
    line-height: 30px;
    opacity: 1;
    padding-left: 15px; }
    .left_nav--small_cap label {
      font-weight: unset;
      margin: 0; }
    .left_nav--small_cap .label_dashboard {
      padding-top: 15px; }
  .left_nav--big_list {
    list-style: none;
    border-left: 1px solid #818181;
    margin-left: 25px !important;
    margin-top: 10px !important; }
    .left_nav--big_list li {
      padding: 15px 0 !important;
      margin-left: 15px !important; }
      .left_nav--big_list li label {
        font-weight: unset;
        cursor: pointer;
        opacity: 0.7; }
      .left_nav--big_list li label:hover {
        opacity: 1; }
  .left_nav--big_list li:hover {
    opacity: 1; }

.dropdown_show_content {
  border: none;
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 53px;
  border-radius: 0; }
  @media (max-width: 767px) {
    .dropdown_show_content {
      top: 38px;
      left: -33px; } }
  .dropdown_show_content--drop {
    display: flex; }
  .dropdown_show_content--box {
    color: black;
    cursor: pointer; }
  .dropdown_show_content--box_item {
    padding: 10px 90px 10px 15px;
    font-size: 14px;
    opacity: 0.7;
    display: flex;
    width: max-content; }
    .dropdown_show_content--box_item i {
      padding-right: 10px;
      font-size: 16px; }
    @media (max-width: 991px) {
      .dropdown_show_content--box_item {
        padding: 10px 25px 10px 15px; } }
  .dropdown_show_content--box_item:hover {
    opacity: 1; }
  .dropdown_show_content--box_item:active {
    color: white;
    background-color: #4e4ef9; }

.expandLogo img {
  display: block; }
.expandLogo .logoDark {
  display: none; }
  @media (max-width: 991px) {
    .expandLogo .logoDark {
      display: none !important; } }
.expandLogo .logoLight {
  display: block; }
  @media (max-width: 991px) {
    .expandLogo .logoLight {
      display: block !important; } }

.sidebar_expand .top_nav img {
  display: none; }
.sidebar_expand .top_nav .logoDark {
  display: none; }
  @media (max-width: 991px) {
    .sidebar_expand .top_nav .logoDark {
      display: none !important; } }
.sidebar_expand .top_nav .logoLight {
  display: none; }
  @media (max-width: 991px) {
    .sidebar_expand .top_nav .logoLight {
      display: none !important; } }
.sidebar_expand .top_nav .menuSidebar {
  margin-left: 0;
  margin-right: 30px; }
.sidebar_expand .left_nav {
  max-width: 65px; }
  .sidebar_expand .left_nav--profile {
    height: 75px; }
  .sidebar_expand .left_nav--avatar {
    margin-left: 15%;
    width: 45px;
    height: 45px; }
  .sidebar_expand .left_nav--section_profile {
    display: none; }
  .sidebar_expand .left_nav--list_tool {
    height: calc(100vh - 170px); }
  .sidebar_expand .left_nav--cap .icon-dropdown {
    display: none; }
  .sidebar_expand .left_nav--cap span {
    display: none; }
  .sidebar_expand .left_nav--cap label {
    display: none; }
  .sidebar_expand .left_nav--big_list label {
    display: none !important; }

.sidebar_expand .left_nav:hover {
  max-width: 260px;
  position: absolute; }
  .sidebar_expand .left_nav:hover .left_nav--profile {
    height: 230px; }
  .sidebar_expand .left_nav:hover .left_nav--avatar {
    width: 60px;
    height: 60px;
    align-items: center;
    margin-left: 40%;
    margin-bottom: 30px;
    position: relative; }
  .sidebar_expand .left_nav:hover .left_nav--section_profile {
    display: block; }
  .sidebar_expand .left_nav:hover .left_nav--list_tool {
    height: calc(100vh - 325px); }
    @media (max-width: 991px) {
      .sidebar_expand .left_nav:hover .left_nav--list_tool {
        height: calc(100vh - 305px); } }
  .sidebar_expand .left_nav:hover .left_nav--cap {
    display: block; }
    .sidebar_expand .left_nav:hover .left_nav--cap .icon-dropdown {
      display: block; }
    .sidebar_expand .left_nav:hover .left_nav--cap span {
      display: block; }
    .sidebar_expand .left_nav:hover .left_nav--cap label {
      display: block; }
  .sidebar_expand .left_nav:hover .left_nav--big_list label {
    display: block !important; }
  .sidebar_expand .left_nav:hover .left_nav--cap_no_list {
    display: flex !important; }

.main_content {
  width: 100%; }

.line {
  background: white;
  opacity: 0.7;
  height: 2px;
  margin-bottom: 4px;
  display: block;
  transition: 0.3s ease-in;
  width: 10px;
  margin-right: -5px;
  cursor: pointer; }

.line2 {
  width: 20px; }

.iconbar {
  cursor: pointer; }

.iconbar:hover .line1 {
  width: 20px;
  cursor: pointer; }

.showSettingColor {
  right: 0 !important; }

.setting_color {
  background: #f8f9fa;
  position: fixed;
  height: 100%;
  max-width: 280px;
  width: 100%;
  top: 0;
  right: -280px;
  z-index: 100;
  box-shadow: 0 3px 9px 0 rgba(162, 176, 190, 0.15);
  transition: 0.3s ease-in; }
  .setting_color--icon_setting {
    background: #ff3ca6;
    padding: 12px 20px;
    color: #fff;
    position: absolute;
    top: 45%;
    left: -54px; }
    .setting_color--icon_setting i {
      animation: fa-spin 2s infinite linear; }
  .setting_color--table_background {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .setting_color--table_background h5 {
      color: #3e5569;
      font-size: 16px;
      font-weight: 500; }
  .setting_color--layouts_show {
    padding: 15px;
    border-bottom: 1px solid #e8eef3; }
    .setting_color--layouts_show .form_check_layout {
      color: #3e5569;
      font-size: 14px;
      font-weight: unset; }
  .setting_color--header_background {
    padding: 15px;
    border-bottom: 1px solid #e8eef3; }
  .setting_color--left_nav_background {
    padding: 15px;
    border-bottom: 1px solid #e8eef3; }
  .setting_color .color_choices {
    display: flex; }
    .setting_color .color_choices .color {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      margin-right: 15px; }
    .setting_color .color_choices .color_bg1 {
      background-color: #3f50f6; }
    .setting_color .color_choices .color_bg2 {
      background-color: #fe5419; }
    .setting_color .color_choices .color_bg3 {
      background-color: #00b0ff; }
    .setting_color .color_choices .color_bg4 {
      background-color: #6659f7; }
    .setting_color .color_choices .color_bg5 {
      background-color: #1d2e42; }
    .setting_color .color_choices .color_bg6 {
      background-color: #a1aab2; }

.headerColorBg1 .top_nav {
  background-color: #3f50f6; }
  .headerColorBg1 .top_nav .collapse.in {
    background-color: #3f50f6;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
.headerColorBg1 .left_nav {
  background-color: #3f50f6; }

.headerColorBg2 .top_nav {
  background-color: #fe5419; }
  .headerColorBg2 .top_nav .collapse.in {
    background-color: #fe5419;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
.headerColorBg2 .left_nav {
  background-color: #fe5419; }

.headerColorBg3 .top_nav {
  background-color: #00b0ff; }
  .headerColorBg3 .top_nav .collapse.in {
    background-color: #00b0ff;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
.headerColorBg3 .left_nav {
  background-color: #00b0ff; }

.headerColorBg4 .top_nav {
  background-color: #6659f7; }
  .headerColorBg4 .top_nav .collapse.in {
    background-color: #6659f7;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
.headerColorBg4 .left_nav {
  background-color: #6659f7; }

.headerColorBg5 .top_nav {
  background-color: #1d2e42; }
  .headerColorBg5 .top_nav .collapse.in {
    background-color: #1d2e42;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
.headerColorBg5 .left_nav {
  background-color: #1d2e42; }

.headerColorBg6 .top_nav {
  background-color: #f2f6fb; }
  .headerColorBg6 .top_nav--item {
    color: black; }
  .headerColorBg6 .top_nav .line {
    background: black; }
  .headerColorBg6 .top_nav .showMobileIcon {
    color: black; }
  .headerColorBg6 .top_nav .logoLight {
    display: none; }
  .headerColorBg6 .top_nav .logoDark {
    display: block; }
    @media (max-width: 991px) {
      .headerColorBg6 .top_nav .logoDark {
        display: block; } }
  .headerColorBg6 .top_nav--icon_three_dot {
    color: black; }
  .headerColorBg6 .top_nav .collapse.in {
    background-color: #f2f6fb;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
.headerColorBg6 .left_nav {
  background-color: #f2f6fb; }
  .headerColorBg6 .left_nav--name {
    color: black; }
  .headerColorBg6 .left_nav ul {
    margin-top: 1px; }
  .headerColorBg6 .left_nav--extend td {
    border: 1px solid grey;
    color: black; }
  .headerColorBg6 .left_nav--extend .quantity-notification {
    color: white; }
  .headerColorBg6 .left_nav--box {
    border-left: none !important; }
  .headerColorBg6 .left_nav--boxchat {
    border-right: none !important; }

.hideDarkLogo .top_nav .logoDark {
  display: none; }
  @media (max-width: 991px) {
    .hideDarkLogo .top_nav .logoDark {
      display: none; } }
  @media (max-width: 767px) {
    .hideDarkLogo .top_nav .logoDark {
      display: none; } }

.changeBgActivee1 .activee {
  background: linear-gradient(90deg, #3f50f6, #5f54ff); }

.changeBgActivee2 .activee {
  background: linear-gradient(90deg, #f78661, #fa9e61); }

.changeBgActivee3 .activee {
  background: linear-gradient(90deg, #00b0ff, #69c8ee); }

.changeBgActivee4 .activee {
  background: #6659f7;
  background: linear-gradient(90deg, #6659f7, #a39afa); }

.changeBgActivee5 .activee {
  background: linear-gradient(90deg #1d2e42 #605d91); }

.changeBgActivee6 .activee {
  background: linear-gradient(90deg, #f2f6fb, #b9b7b7);
  color: black; }

.listToolColorBg1 .left_nav--list_tool {
  background-color: #3f50f6; }

.listToolColorBg2 .left_nav--list_tool {
  background-color: #fe5419; }

.listToolColorBg3 .left_nav--list_tool {
  background-color: #00b0ff; }

.listToolColorBg4 .left_nav--list_tool {
  background-color: #6659f7; }

.listToolColorBg5 .left_nav--list_tool {
  background-color: #1d2e42; }

.listToolColorBg6 .left_nav--list_tool {
  background-color: #f2f6fb;
  color: black; }

.main_content {
  width: 100%;
  margin: 0 30px; }
  .main_content--greeting_and_month {
    display: flex;
    align-items: center; }
  .main_content--greeting {
    width: 70%; }
    .main_content--greeting h3 {
      font-size: 20px;
      color: #343a40;
      font-weight: 500; }
    .main_content--greeting a {
      color: #8392a5;
      text-decoration: none; }
  .main_content--month_choices {
    width: 30%;
    display: flex; }
    .main_content--month_choices .three_month {
      margin-left: auto; }
      .main_content--month_choices .three_month .select_month {
        padding: 5px 12px;
        outline: none;
        border: 1px solid #e9ecef;
        appearance: none;
        background: #fff url(../images/custom-select.png) no-repeat right 0.75rem center/8px 10px;
        background-size: initial; }
  .main_content--general_table {
    display: flex;
    margin-top: 15px;
    width: 100%; }
  .main_content--table_figure {
    width: 25%;
    padding: 20px 0; }
  .main_content--new_client {
    background-color: #eef5ff;
    margin: 0 10px;
    margin-left: 0; }
  .main_content--earning_of_month {
    background-color: #fef6fb;
    margin: 0 10px; }
  .main_content--new_project {
    background-color: #fff7eb;
    margin: 0 10px; }
  .main_content--total_project {
    background-color: #e4fbf8;
    margin: 0 10px;
    margin-right: 0; }
  .main_content--top_table {
    display: flex;
    align-items: center; }
  .main_content--quantity {
    padding: 0 20px;
    font-size: 25px;
    font-weight: 500; }
  .main_content--title {
    padding: 0 20px;
    color: #8392a5; }
  .main_content--percent {
    margin-left: auto;
    padding: 20px; }
    .main_content--percent .icon_arrow_client {
      color: #3f50f6; }
    .main_content--percent .icon_arrow_earning {
      color: #ff098f; }
    .main_content--percent .icon_arrow_new_project {
      color: #fa9600; }
    .main_content--percent .icon_arrow_total_project {
      color: #029a9a; }
  .main_content--circle_plus {
    width: 57px;
    height: 57px;
    line-height: 35px;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 0; }
    .main_content--circle_plus .icon_on_circle {
      color: white;
      font-size: 28px;
      position: absolute; }
  .main_content--circle_client {
    background-color: #3f50f6; }
  .main_content--circle_earning {
    background-color: #ff098f; }
  .main_content--circle_new_project {
    background-color: #fa9600; }
  .main_content--circle_total_project {
    background-color: #029a9a; }
  .main_content--earning_statastics_chart_slide_status_project {
    height: 400px;
    display: flex; }
  .main_content--chart_earning {
    width: 75%; }
  .main_content--slide_status {
    margin-left: 15px;
    width: 25%; }

/*# sourceMappingURL=main.css.map */
