body {
    font-family: "Rubik", sans-serif;
}
.admin_template {
    display: flex;
    transition: 0.5s;
}
.top_nav {
    background-color: rgb(78, 78, 249);
    display: flex;
    align-items: center;
    padding: 25px 30px;
    transition: 0.5s ease-in-out;
    @media (max-width: 767px) {
        padding: 0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: white;
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
    }

    .collapse.in {
        display: flex;
        @media (max-width: 767px) {
            position: absolute;
            background-color: rgb(78, 78, 249);
            z-index: 1;
        }
    }
    @media (max-width: 767px) {
        display: block;
        height: auto;
        .collapse.in {
            display: flex;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 15px 30px 15px 30px;
        }
    }
    &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            padding: 15px 30px 15px 30px;
        }

        .menuSidebar {
            margin: 0 15px;
            @media (max-width: 767px) {
                display: none;
                padding-right: 60px;
            }
        }
    }
    &--logo_both {
        display: flex;
        width: max-content;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            order: 2;
        }
        img {
            padding-left: 10px;
        }
    }
    .showMobileIcon {
        display: none;
        color: white;
        cursor: pointer;
        @media (max-width: 767px) {
            order: 1;
            display: block;
        }
    }
    &--mobile {
        width: 100%;
        display: flex;
        align-items: center;
        // padding-left: 15px;
        flex-grow: 1;
        @media (max-width: 767px) {
            display: none;
            .btn-group {
                position: static;
                .dropdown_content {
                    width: 100%;
                    top: 53px;
                    left: 0;
                }
                .dropdown_content--box {
                    width: 50%;
                }
            }
        }
    }
    &--item {
        color: white;
        opacity: 0.7;
        padding: 0 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            @media (max-width: 991px) {
                display: none;
            }
        }
        .dropbtn_apps {
            padding: 0 10px;
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    .icon_live_feed {
        @media (max-width: 767px) {
            padding-left: 0;
        }
    }
    &--icon_res {
        font-size: 25px;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
    }
    &--english {
        margin-left: auto;
        .dropdowncontent--box {
            width: 100%;
        }
        .dropdown-menu {
            @media (max-width: 991px) {
                right: 0;
                left: unset;
            }
        }
        .icon_english {
            @media (max-width: 767px) {
                padding-right: 0;
            }
        }
    }
    &--element {
        .dropdown_content--drop {
            @media (max-width: 767px) {
                display: block;
                height: 180px;
                overflow-y: auto;
            }
        }
        .dropdown_content--drop::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: none;
        }

        .dropdown_content--drop::-webkit-scrollbar {
            width: 5px;
        }

        .dropdown_content--drop::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }
        .dropdown_content--drop:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
    &--item:hover {
        opacity: 1;
    }
    &--search {
        border-radius: 20px;
        background-color: rgb(93, 68, 228);
        border: none;
        max-width: 250px;
        width: 100%;
        @media (max-width: 991px) {
            display: none;
        }
    }
    &--search_form {
        display: flex;
        align-items: center;
        // border-left: 1px solid rgba(255,255,255,.2);
        input {
            background: none;
            border: none;
            outline: none;
            color: white;
            padding: 8px;
            &::placeholder {
                color: white;
                opacity: 0.7;
            }
        }

        button {
            flex-grow: 1;
            background: none;
            border: none;
            color: white;
            outline: none;
        }
    }
    &--iconClear {
        color: white;
    }
    &--icon_three_dot {
        font-size: 16px;
        color: white;
        // padding-right: 15px;
        display: none;
        @media (max-width: 767px) {
            display: block;
            order: 3;
        }
    }
}

.show-sidebar-on-mobile {
    left: 0 !important;
    // max-width: 260px !important;
}

.left_nav {
    max-width: 260px;
    width: 100%;
    background-color: rgb(78, 78, 249);
    transition: 0.5s;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    @media (max-width: 767px) {
        left: -260px;
        position: absolute;
    }
    &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0 30px 0 30px;
        height: 90px;
    }
    &--profile {
        height: 230px;
    }
    table {
        border: 1;
    }
    &--pic {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }
    &--avatar {
        width: 60px;
        height: 60px;
        align-items: center;
        margin-left: 40%;
        margin-bottom: 30px;
        position: relative;
        img {
            border-radius: 50%;
        }
        .dropdown_content {
            left: -4px;
        }
        .box_avt {
            max-width: 136px;
            width: 100%;

            .avt {
                padding: 10px 7px 10px 15px;
            }
            .statuscolor1 {
                color: #02cccd;
            }
            .statuscolor2 {
                color: #ffab2e;
            }
            .statuscolor3 {
                color: #ff3ca6;
            }
            .statuscolor4 {
                color: #8392a5;
            }
        }
    }
    &--status {
        position: absolute;
        background-color: #02cccd;
        color: white;
        right: -3px;
        top: 34px;
        line-height: 10px;
        padding: 1px;
        border-radius: 20px;

        i {
            font-size: 12px;
        }
    }
    &--name {
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 300;
    }
    &--position {
        font-size: 14px;
        opacity: 0.7;
        font-weight: 400;
    }
    &--extend {
        width: 100%;

        td {
            width: 33%;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 25px 0;
            color: white;
            font-size: 17px;
            position: relative;
        }
        .quantity-notification {
            position: absolute;
            top: 20px;
            right: 29px;
            line-height: 13px;
            padding: 2px 5px;
            font-weight: 300;
            background-color: #ff3ca6;
            font-size: 11px;
            border-radius: 20px;
            @media (max-width: 767px) {
                color: white;
                padding: 1px 4px;
                font-size: 10px;
            }
        }

        .dropdown_content {
            margin-left: 0;
            width: 260px;
            top: 73px;
            left: -2px;
            &--box {
                width: 100%;
            }
            &--box_item {
                opacity: 1;
                padding: 10px 10px 10px 15px;
                align-items: center;
            }
            &--box_item:active {
                background-color: none;
            }
        }

        .content_notification {
            height: 200px;
            overflow: auto;
        }
        .content_notification::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: none;
        }

        .content_notification::-webkit-scrollbar {
            width: 5px;
        }

        .content_notification::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }
        .content_notification:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .notification_new {
            background-image: url(../images/img5.png);
            background-repeat: no-repeat;
            background-size: cover;
            // background-color: #3f50f6;
            margin-top: -3px;
            &--title {
                height: auto;
                padding: 10px 0 10px 15px;
                h4 {
                    font-weight: 400;
                }
            }
        }
        .notification_avatar {
            padding-right: 10px;
            font-size: 23px;
            width: 42px;
            height: 42px;
            line-height: 20px;
            padding: 10px;
            text-align: center;
            border-radius: 100%;
            background-color: #ff3ca6;
            i {
                font-size: 23px;
            }
        }
        .avt_icon1 {
            background-color: #ff3ca6;
        }
        .avt_icon2 {
            background-color: #02cccd;
        }
        .avt_icon3 {
            background-color: #3f50f6;
        }
        .avt_icon4 {
            background-color: #7057d2;
        }

        .notification_content {
            display: grid;
            padding-left: 10px;
            span {
                color: #8392a5;
                font-size: 12px;
            }
        }
        .check_notification {
            font-weight: 500;
            padding: 10px 0;
            text-align: center;
            color: #343a40;
        }
    }
    &--setting {
        .dropdown_content {
            width: 0;
        }
    }
    &--boxchat {
        .dropdown-menu {
            right: 0;
            left: unset;
            // display: flex;
            // justify-content: flex-end;
        }
        .notification_avatar {
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    /////////
    &--list_tool {
        background: #f2f6fb;
        color: black;
        list-style: none;
        padding-left: 0;
        padding-top: 15px;
        height: calc(100vh - 322px);
        overflow-y: auto;
        @media (max-width: 767px) {
            height: calc(100vh - 332px);
        }

    }
    //custom scrollbar
    &--list_tool::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: none;
    }

    &--list_tool::-webkit-scrollbar {
        width: 5px;
    }

    &--list_tool::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
    &--list_tool:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    .activee{
        color: white;
        opacity: 1;
        padding: 12px 0;
        border-radius: 0 60px 60px 0;
        background: linear-gradient(to right, #4051f6, #475cf3, #4f65ef, #586eea, #6177e5);
    }

    //line
    &--divider {
        height: 1px;
        background: #fff;
        display: block;
        margin: 20px 0;
        opacity: 0.1;
        background: #818181;
    }

    &--big_cap {
        font-size: 16px;
        align-items: center;
        opacity: 0.7;
        padding: 12px 0;
        list-style: none;
        .clickDrop {
            display: flex;
            align-items: center;
        }
        i {
            font-size: 20px;
            padding: 0 15px;
        }
        .icon-dropdown {
            float: right;
            font-size: 15px;
            padding: 0 30px;
            margin-left: auto;
        }
    }
    &--big_cap:hover {
        opacity: 1;
        cursor: pointer;
    }
    &--small_cap {
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        line-height: 30px;
        opacity: 1;
        padding-left: 15px;
        label {
            font-weight: unset;
            margin: 0;
        }
        .label_dashboard {
            padding-top: 15px;
        }
    }
    &--big_list {
        list-style: none;
        border-left: 1px solid #818181;
        margin-left: 25px !important;
        margin-top: 10px !important;
        li {
            padding: 15px 0 !important;
            margin-left: 15px !important;
        }
    }
    &--big_list {
        li:hover {
            opacity: 1;
        }
    }
}

.dropdown-menu {
    border: none;
}
.dropdown_content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 55px;
    border-radius: 0;
    @media (max-width: 991px) {
        top: 48px;
    }
    @media (max-width: 767px) {
        top: 38px;
        left: -33px;
    }
    &--drop {
        display: flex;
    }
    &--box {
        color: black;
        cursor: pointer;
    }
    &--box_item {
        padding: 10px 90px 10px 15px;
        font-size: 14px;
        opacity: 0.7;
        display: flex;
        width: max-content;
        i {
            padding-right: 10px;
            font-size: 16px;
        }
        @media (max-width: 991px) {
            padding: 10px 25px 10px 15px;
        }
    }
    &--box_item:hover {
        opacity: 1;
    }
    &--box_item:active {
        color: white;
        background-color: rgb(78, 78, 249);
    }
}

.sidebar-expand {
    position: absolute;
    .top_nav {
        img {
            display: none;
        }
        .menuSidebar {
            margin-left: 0;
            margin-right: 30px;
        }
    }
    .left_nav {
        max-width: 65px;
        &--profile {
            height: 75px;
        }
        &--avatar {
            margin-left: 15%;
            width: 45px;
            height: 45px;
        }
        &--section_profile {
            display: none;
        }
        &--list_tool {
            height: calc(100vh - 151px);
        }
        &--big_cap {
            text-align: center;
            .icon-dropdown {
                display: none;
            }
            span {
                display: none;
            }
        }
        &--small_cap {
            display: none;
        }
    }
}

.content {
    width: 100%;
}
.line1 {
    background: white;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    transition: 0.3s ease-in;
    width: 10px;
    margin-right: -5px;
    cursor: pointer;
}
.line2 {
    width: 20px;
    background: white;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.iconbar {
    cursor: pointer;
}
.iconbar:hover {
    .line1 {
        width: 20px;
        cursor: pointer;
    }
}
