@import '../base/mixin';
body{
    font-family: 'Roboto', sans-serif;
    .recover_form{
        display: flex;
        height: 100vh;
        .left_content{
            @include left;
        }
        .right_content{
            margin: 13em 0;
            .recover{
                @include bigTitleRight;
                
            }
            .let_input_title{
                color: #6d6d6d;
                font-style: italic;
                font-size: 24px;
                text-align: center;
            }
            .email_block{
                margin: 0 20%;
                @include blockLabelAndBox;
            }
            .send{
                text-align: center;
                button{
                    margin-top: 30px;
                    max-width: 306px;
                    width: 100%;
                    font-size: 24px;
                    height: 70px;
                    color: white;
                    border: none;
                    outline: none;
                    background-color: #6d30ab;
                    transition: 0.3s ease-in-out;
                }
                button:hover {
                    box-shadow: 5px 10px 18px #888888;
                    
                }
            }
        }
    }
}
//Screen 992px and down: 991px->768px
@media (max-width: 991px) { 
    body{
        .recover_form{
            .left_content{
                height:100vh;
                .logo{
                    text-align: center;
                    padding-left: 0;
                }
                .wellcome{
                    margin: 0 2em;
                    margin-top: 10em;
                    .wellcome_title{
                        font-size: 2.5em;
                    }
                    .wellcome_content{
                        font-size: 1.5em;
                        margin-top: 1em;
                    }
                }
            }
            .right_content{
                margin: 13em 0;
                .recover{
                    font-size: 30px;
                }
                .let_input_title{
                    font-size: 18px;
                }
                .email_block{
                    .title_email{
                        font-size: 1.3em;
                    }
                    .input_email{
                        
                        height: 50px;
                        margin-top:15px;
                        .fa-envelope-o{
                            font-size: 23px;
                        }
                        input{
                            height: 50px;
                            font-size: 1.6em;
                        }
                        ::placeholder{
                            font-size: 0.6em;
                        }
                    }
                }
                
                .send{
                    button{
                        max-width: 100px;
                        font-size: 1.2em;
                        height: 50px;
                    }
                }
            }
        }
    }
}
//Screen 768px and down: 768px->576px
@media (max-width: 767px) {
    body{
        .recover_form{
            display: inline-block;
            .left_content{
                height:28vh;
                .logo{
                    text-align: center;
                    padding-left: 0;
                }
                .wellcome{
                    margin: 0 2em;
                    margin-top: 1em;
                    .wellcome_title{
                        font-size: 2.5em;
                        font-weight: 550;
                    }
                    .wellcome_content{
                        font-size: 1.5rem;
                        margin-top: 0;
                    }
                }
            }
            .right_content{
                margin: 1em 0;
                .title{
                    .recover{
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}