.left_content {
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/bg_login.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -15px;
  height: 100vh; }
  .left_content .logo {
    padding-top: 43px;
    padding-left: 48px;
    display: block; }
    .left_content .logo img {
      max-width: 183px;
      width: 100%;
      height: auto; }
  .left_content .wellcome {
    text-align: center;
    color: white;
    padding-top: 27vh;
    padding-left: 13%;
    padding-right: 13%; }
    .left_content .wellcome .wellcome_title {
      font-size: 60px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2; }
    .left_content .wellcome .wellcome_content {
      margin-top: 31px;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal; }

.right_content {
  font-family: 'Roboto', sans-serif;
  padding-top: 35vh; }
  .right_content .recover {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #6d30ab; }
  .right_content .let_input_title {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #6d6d6d; }
  .right_content .email_block {
    margin: 0 20%; }
    .right_content .email_block .title_email {
      font-size: 24px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      margin-top: 30px; }
    .right_content .email_block .input_email {
      display: flex;
      align-items: center;
      width: 100%;
      height: 70px;
      background-color: #f5f5f5;
      text-align: left;
      margin-top: 15px; }
      .right_content .email_block .input_email .iconLeft {
        font-size: 29px;
        margin-left: 28px;
        margin-right: 10px; }
      .right_content .email_block .input_email input {
        height: 70px;
        background-color: #f5f5f5;
        border: none;
        font-size: 1.6em;
        outline: none;
        flex-grow: 1;
        width: 100%; }
      .right_content .email_block .input_email ::placeholder {
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.2;
        letter-spacing: normal; }
  .right_content .send {
    text-align: center; }
    .right_content .send button {
      font-size: 24px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      margin-top: 61px;
      width: 100%;
      max-width: 306px;
      height: 70px;
      color: white;
      border: none;
      outline: none;
      background-color: #6d30ab;
      transition: 0.3s ease-in-out; }
    .right_content .send button:hover {
      border: 1px solid #6d30ab;
      background-color: white;
      color: #6d30ab; }

@media (max-width: 991px) {
  .left_content .wellcome {
    padding-left: 6%;
    padding-right: 6%; }
    .left_content .wellcome .wellcome_title {
      font-size: 47px; }
    .left_content .wellcome .wellcome_content {
      font-size: 21px; }

  .right_content .login_minerva {
    font-size: 45px; }
  .right_content .email_block {
    margin: 0 15%; }
  .right_content .send button {
    font-size: 22px;
    height: 65px;
    margin-top: 30px; } }
@media (max-width: 767px) {
  .left_content {
    height: auto; }
    .left_content .logo {
      text-align: center;
      padding-left: 0;
      padding-top: 2em; }
    .left_content .wellcome {
      padding: 2em 2em 2.7em 2em; }
      .left_content .wellcome .wellcome_title {
        font-size: 2.3em;
        font-weight: 550; }
      .left_content .wellcome .wellcome_content {
        margin-top: 0;
        font-size: 1.3rem; }

  .right_content {
    height: auto;
    padding: 2.7em 0; }
    .right_content .recover {
      font-size: 28px; }
    .right_content .let_input_title {
      font-size: 16px; }
    .right_content .email_block {
      margin: 0 10%; }
      .right_content .email_block .title_email {
        margin-top: 0.7em;
        font-size: 1.4em; }
      .right_content .email_block .input_email {
        height: 50px;
        margin-top: 15px; }
        .right_content .email_block .input_email .iconLeft {
          margin-left: 10px;
          margin-right: 5px;
          font-size: 23px; }
        .right_content .email_block .input_email input {
          height: 50px;
          font-size: 16px; }
        .right_content .email_block .input_email ::placeholder {
          font-size: 16px; }
    .right_content .send {
      margin: 0 30%; }
      .right_content .send button {
        font-size: 13px;
        height: 40px; } }

/*# sourceMappingURL=forgotpass.css.map */
