@mixin title_span {
    font-weight: bold;
    font-size: 24px;
}
@mixin input_box_background {
    
    height: 70px;
    background-color: #f5f5f5;
    text-align: left;
}
@mixin input_content {
    width: 80%;
    height: 70px;
    background-color: #f5f5f5;
    border: none;
    font-size: 20px;
}
.minerva{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    .login_form{
        .left_content{
            background-image: url(../images/bg_login.png);
            height:100vh;
            margin: 0 -15px;
            .logo{
                padding-top: 43px;
                padding-left: 48px;
                
            }
            .wellcome{
                margin-top: 20vh;
                margin-left: 90px;
                margin-right: 90px;
                color: white;
                text-align: center;
                .wellcome_title{
                    font-size: 60px;
                }
                .wellcome_content{
                    font-size: 27px;
                    margin-top: 31px;
                }
            }
        }
        .right_content{
            .title{
                text-align: center;
                margin-top: 100px;
                .recover{
                    font-size: 48px;
                    color: #6d30ab;
                    font-weight: bold;
                }
                .let_input_title{
                    color: #6d6d6d;
                    font-style: italic;
                    font-size: 24px;
                }
            }
            .email_block{
                margin: 0 20%;
            }
            .title_email{
                margin-top: 30px;
                label{
                    @include title_span();
                }
            }
            .input_email{
                @include input_box_background();
                margin-top:15px;
                .fa-envelope-o{
                    font-size: xx-large;
                    margin: 0 10px;
                }
                input{
                    @include input_content();
                }
                ::placeholder{
                    font-style: italic;
                }
            }
            .send{
                text-align: center;
                button{
                    margin-top: 60px;
                    width: 306px;
                    font-size: 24px;
                    height: 70px;
                    color: white;
                    border: none;
                    background-color: #6d30ab;
                }
                button:hover {
                    box-shadow: 5px 10px 18px #888888;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 379px){
    .minerva{
        .login_form{
            .left_content{
                height: 43vh !important;
                .logo{
                    padding-left: 0 !important;
                    text-align: center;
                }
                .wellcome{
                    margin-top: 7vh !important;
                    .wellcome_title{
                        font-size: 15px;
                    }
                    .wellcome_content{
                        font-size: 10px;
                    }
                }
            }
            .right_content{
                height: 50vh;
                margin-top: 30px !important;
                .title{
                    margin-top: 50px;
                    .recover{
                        font-size: 22px;
                    }
                    .let_input_title{
                        font-size: 10px;
                    }
                }
                .title_email{
                    label{
                        font-size: 15px;
                    }
                    
                }
                .input_email{
                    .fa-envelope-o{
                        font-size: large ;
                        margin: 0 10px;
                    }
                    height: 45px;
                    input{
                        width: 70%;
                        height: 45px;
                    }
                    ::placeholder{
                        font-size: 11px;
                    }
                }
                .send{
                    button{
                        margin-top: 40px;
                        width: 150px;
                        font-size: 20px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
@media (min-width: 379px) and (max-width: 768px) { 
    .minerva{
        .login_form{
            .left_content{
                height: 40vh;
                .logo{
                    text-align: center;
                    padding-left: 0 !important;
                }
                .wellcome{
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-top: 45px;
                    .wellcome_title{
                        font-size: 30px;
                    }
                    .wellcome_content{
                        font-size: 17px;
                    }
                }
            }
            .right_content{
                height: 50vh;
                margin-top: 30px !important;
                .title{
                    .recover{
                        font-size: 24px;
                    }
                    .let_input_title{
                        font-size: 10px;
                    }
                }
                .title_email{
                    label{
                        font-size: 17px;
                    }
                    
                }
                .input_email{
                    .fa-envelope-o{
                        font-size: large ;
                        margin: 0 10px;
                    }
                    height: 45px;
                    input{
                        height: 45px;
                    }
                    ::placeholder{
                        font-size: 15px;
                    }
                }
                .send{
                    button{
                        margin-top: 40px;
                        width: 150px;
                        font-size: 20px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1233px){
    // .minerva{
    //     .login_form{
    //         .right_content{
    //             margin-top: 100px !important;
    //         }
    //     }
    // }
}
@media (min-width: 1234px){

}
