@import '../base/mixin';
body{
    font-family: 'Roboto', sans-serif;
    
        .left_content{
            @include left;
        }
        .right_content{
            padding-top: 20%;
            .recover{
                @include bigTitleRight;
                
            }
            .let_input_title{
                font-size: 24px;
                font-weight: 300;
                font-stretch: normal;
                font-style: italic;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: center;
                color: #6d6d6d;
            }
            .email_block{
                margin: 0 20%;
                @include blockLabelAndBox;
            }
            .send{
                text-align: center;
                button{
                    @include button;
                }
                button:hover {
                    @include buttonhover;
                }
            }
        }
    }

    @media (max-width: 991px) {
        body{
            .left_content{
                .wellcome{
                    padding-left: 6%;
                    padding-right: 6%;
                    padding-top: 50%;
                    .wellcome_title{
                        font-size: 47px;
                    }
                    .wellcome_content{
                        font-size: 21px;
                    }
                }
            }
            .right_content{
                padding-top: 30%;
                .login_minerva{
                    font-size: 45px;
                }
                .email_block{
                    margin: 0 15%;
                }
                .send{
                    button{
                        font-size: 22px;
                        height: 65px;
                        margin-top: 30px;
                    }
                }
            }
        
        }
    }
@media (max-width: 767px) {
    body{
        .left_content{
            height:auto;
            .logo{
                text-align: center;
                padding-left: 0;
                padding-top: 2em;
            }
            .wellcome{
                padding: 2em;
                .wellcome_title{
                    font-size: 2.3em;
                    font-weight: 550;
                }
                .wellcome_content{
                    margin-top: 0;
                    font-size: 1.3rem;
                }
            }
        }
            .right_content{
                height: auto;
                padding: 2em;
                .recover{
                    font-size: 28px;
                }
                .let_input_title{
                    font-size: 16px;
                    }
                .email_block{
                    margin: 0 10%;
                    .title_email{
                        margin-top: 0.7em;
                        font-size: 1.4em;
                    }
                    .input_email{
                        height: 50px;
                        margin-top:15px;
                        .iconLeft{
                            margin-left: 10px;
                            margin-right: 5px;
                            font-size: 23px;
                        }
                        input{
                            height: 50px;
                            font-size: 16px;
                        }
                        ::placeholder{
                            font-size: 16px;
                        }
                    }
                }
                .send{
                    margin: 0 30%;
                    button{
                        font-size: 13px;
                        height: 40px;
                    }
                }
            }
        }
    }

