.wellcome {
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/bg_login.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -15px;
  height: 100vh; }
  .wellcome__logo {
    padding-top: 43px;
    padding-left: 48px;
    display: block; }
    .wellcome__logo img {
      max-width: 183px;
      width: 100%;
      height: auto; }
  .wellcome .wellcomeblock {
    text-align: center;
    color: white;
    padding-top: 27vh;
    padding-left: 13%;
    padding-right: 13%; }
  .wellcome__title {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2; }
  .wellcome__content {
    margin-top: 31px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal; }

.recover {
  font-family: 'Roboto', sans-serif;
  padding-top: 35vh;
  height: 100vh; }
  .recover__title {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #6d30ab; }
  .recover__message {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #6d6d6d;
    margin-bottom: 25px;
    margin-top: 10px; }
  .recover .recoverblock {
    margin: 0 20%;
    text-align: center; }
  .recover__label {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    margin-top: 37px;
    margin-bottom: 16px;
    float: left; }
  .recover__inputarea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    text-align: left; }
  .recover__icon {
    font-size: 29px;
    margin-left: 28px;
    margin-right: 10px; }
  .recover__input {
    height: 70px;
    background-color: #f5f5f5;
    border: none;
    font-size: 1.6em;
    outline: none;
    flex-grow: 1;
    width: 100%; }
  .recover ::placeholder {
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal; }
  .recover__button {
    margin-top: 70px;
    max-width: 100%;
    width: 306px;
    font-size: 24px;
    height: 70px;
    color: white;
    border: none;
    outline: none;
    background-color: #6d30ab;
    transition: 0.3s ease-in-out; }
  .recover__button:hover {
    border: 1px solid #6d30ab;
    background-color: white;
    color: #6d30ab; }

@media (max-width: 991px) {
  .wellcome .wellcomeblock {
    padding-left: 6%;
    padding-right: 6%; }
  .wellcome__title {
    font-size: 47px; }
  .wellcome__content {
    font-size: 21px; }

  .recover__title {
    font-size: 45px; }
  .recover .recoverblock {
    margin: 0 15%; }
  .recover__button {
    margin-top: 30px;
    font-size: 16px;
    max-width: 40%;
    height: 45px; } }
@media (max-width: 767px) {
  .wellcome {
    height: auto; }
    .wellcome__logo {
      text-align: center;
      padding-left: 0;
      padding-top: 2em 0; }
    .wellcome .wellcomeblock {
      padding: 2em 2em 2.7em 2em; }
    .wellcome__title {
      font-size: 2.3em;
      font-weight: 550; }
    .wellcome__content {
      margin-top: 0;
      font-size: 1.3rem; }

  .recover {
    height: auto;
    padding: 2.7em 0; }
    .recover__title {
      font-size: 28px; }
    .recover__message {
      font-size: 16px; }
    .recover .recoverblock {
      margin: 0; }
    .recover__label {
      margin-top: 0.7em;
      font-size: 1.4em; }
    .recover__inputarea {
      height: 50px;
      margin-top: 15px; }
    .recover__icon {
      margin-left: 10px;
      margin-right: 5px;
      font-size: 23px; }
    .recover__input {
      height: 50px;
      font-size: 16px; }
    .recover ::placeholder {
      font-size: 16px; }
    .recover__button {
      margin-top: 30px;
      font-size: 12px;
      max-width: 35%;
      height: 40px; } }

/*# sourceMappingURL=forgotpass.css.map */
