@mixin title_span {
    font-weight: bold;
    font-size: 24px;
}
@mixin input_box_background {
    
    height: 70px;
    background-color: #f5f5f5;
    text-align: left;
}
@mixin input_content {
    width: 80%;
    height: 70px;
    background-color: #f5f5f5;
    border: none;
    font-size: 20px;
}
.minerva{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    .login_form{
        .left_content{
            background-image: url(../images/bg_login.png);
            height:100vh;
            margin: 0 -15px;
            .logo{
                padding-top: 43px;
                padding-left: 48px;
                
            }
            .wellcome{
                margin-top: 20vh;
                margin-left: 90px;
                margin-right: 90px;
                color: white;
                text-align: center;
                .wellcome_title{
                    font-size: 60px;
                }
                .wellcome_content{
                    font-size: 27px;
                    margin-top: 31px;
                }
            }
        }
        .right_content{
            .title{
                margin-top: 100px;
                text-align: center;
                .login_minerva{
                    font-size: 48px;
                    color: #6d30ab;
                    font-weight: bold;
                }
            }
            .login_block{
                margin: 0 20%;
                .title_username{
                    margin-top: 30px;
                    span{
                        @include title_span();
                    }
                }
                .title_pass{
                    margin-top: 30px;
                    margin-bottom: 15px;
                    span{
                        @include title_span();
                    }
                }
                .input_username{
                    @include input_box_background();
                    margin-top:15px;
                    .la-user{
                        font-size: xx-large;
                        margin: 0 10px;
                    }
                    input{
                        @include input_content();
                    }
                    ::placeholder{
                        font-style: italic;
                    }
                }
                .input_pass{
                    @include input_box_background();
                    width: 100%;
                    .la-lock{
                        font-size: xx-large;
                        margin: 0 10px;
                        width: 5%;
                    }
                    input{
                        @include input_content();
                    }
                    ::placeholder{
                        font-style: italic;
                    }
                    .field_icon{
                        font-size: xx-large;
                        color: #6d30ab;
                        width: 10%;
                    }
                    // .la-fish{
                    //     font-size: xx-large;
                    //     color: #6d30ab;
                    //     display: none;
                    // }
                }
                .forgotpass{
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    a{
                        font-size: 24px;
                        color: grey;
                        text-decoration: underline;
                    }
                    
                }
                .login_button{
                    text-align: center;
                    button{
                        margin-top: 30px;
                        width: 306px;
                        font-size: 24px;
                        height: 70px;
                        color: white;
                        border: none;
                        background-color: #6d30ab;
                    }
                    button:hover {
                        box-shadow: 5px 10px 18px #888888;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px){ 
    .minerva{
        .login_form{
            .left_content{
                height: 43vh !important;
                .logo{
                    padding-left: 0 !important;
                    text-align: center;
                }
                .wellcome{
                    margin-top: 7vh !important;
                    .wellcome_title{
                        font-size: 15px;
                    }
                    .wellcome_content{
                        font-size: 10px;
                    }
                }
            }
            .right_content{
                height: 50vh;
                .title{
                    margin-top: 50px !important;
                    .login_minerva{
                        font-size: 24px !important;
                    }
                }
                .title_username{
                    span{
                        font-size: 15px !important;
                    }
                }
                .title_pass{
                    span{
                        font-size: 15px !important;
                    }
                    
                }
                .input_username{
                    height: 45px !important;
                    .la-user{
                        font-size: large !important;
                    }
                    input{
                        width: 50% !important;
                        height: 45px !important;
                    }
                    ::placeholder{
                        font-size: 13px;
                    }
                }
                .input_pass{
                    height: 45px !important;
                    .la-lock{
                        font-size: large !important;
                }
                    input{
                        width: 50% !important;
                        height: 45px !important;
                    }
                    ::placeholder{
                        font-size: 13px;
                    }
                    .la-eye-slash{
                        font-size: large !important;
                        color: #6d30ab;
                    }
                }
                .forgotpass{
                    a{
                        font-size: 12px !important;
                    }
                    
                }
                
                .login_button{
                    button{
                        margin-top: 10px !important;
                        width: 115px !important;
                        font-size: 14px !important;
                        height: 40px !important;
                    }
                }
            }
        }
    }
 }
@media (min-width: 320px) and (max-width: 379px) { 
    .minerva{
        .login_form{
            .left_content{
                height: 40vh !important;
                .logo{
                    padding-left: 0 !important;
                    text-align: center;
                }
                .wellcome{
                    margin-top: 7vh !important;
                    .wellcome_title{
                        font-size: 17px;
                    }
                    .wellcome_content{
                        font-size: 12px;
                    }
                }
            }
            .right_content{
                height: 50vh;
                .title{
                    margin-top: 50px !important;
                    .login_minerva{
                        font-size: 24px !important;
                    }
                }
                .title_username{
                    span{
                        font-size: 15px !important;
                    }
                }
                .title_pass{
                    span{
                        font-size: 15px !important;
                    }
                    
                }
                .input_username{
                    height: 45px !important;
                    .la-user{
                        font-size: large !important;
                    }
                    input{
                        width: 70% !important;
                        height: 45px !important;
                    }
                    ::placeholder{
                        font-size: 13px;
                    }
                }
                .input_pass{
                    height: 45px !important;
                    .la-lock{
                        font-size: large !important;
                }
                    input{
                        width: 64% !important;
                        height: 45px !important;
                    }
                    ::placeholder{
                        font-size: 13px;
                    }
                    .la-eye-slash{
                        font-size: large !important;
                        color: #6d30ab;
                    }
                }
                .forgotpass{
                    a{
                        font-size: 12px !important;
                    }
                    
                }
                .login_button{
                    text-align: center;
                    button{
                        margin-top: 30px;
                        width: 306px;
                        font-size: 22px;
                        height: 70px;
                        color: white;
                        border: none;
                        background-color: #6d30ab;
                    }
                }
                .login_button{
                    button{
                        margin-top: 10px !important;
                        width: 150px !important;
                        font-size: 14px !important;
                        height: 40px !important;
                    }
                }
            }
        }
    }
 }
@media (min-width: 379px) and (max-width: 768px) { 
    .minerva{
        .login_form{
            .left_content{
                height: 50vh !important;
                .logo{
                    margin-left: 0 !important;
                    text-align: center;
                }
                .wellcome{
                    background-size: cover;
                    background-repeat: no-repeat;
                    .wellcome_title{
                        font-size: 30px;
                    }
                    .wellcome_content{
                        font-size: 17px;
                    }
                }
            }
            .right_content{
                height: 50vh;
                .title{
                    margin-top: 0;
                    .login_minerva{
                        font-size: 30px !important;
                    }
                }
                .title_username{
                    span{
                        font-size: 20px !important;
                    }
                }
                .title_pass{
                    span{
                        font-size: 20px !important;
                    }
                    
                }
                .input_username{
                    height: 45px !important;
                    .la-user{
                        font-size: large !important;
                    }
                    input{
                        height: 45px !important;
                    }
                    ::placeholder{
                        font-size: 15px;
                    }
                }
                .input_pass{
                    height: 45px !important;
                    width: 100% !important;
                    .la-lock{
                        font-size: large !important;
                }
                    input{
                        width: 70% !important;
                        height: 45px !important;
                    }
                    ::placeholder{
                        font-size: 15px;
                    }
                    .field_icon{
                        font-size: large !important;
                        color: #6d30ab;
                        width: 5% !important;
                    }
                }
                .forgotpass{
                    a{
                        font-size: 14px !important;
                    }
                    
                }
                .login_button{
                    text-align: center;
                    margin-top: -30px;
                    button{
                        margin-top: 30px;
                        width: 306px;
                        font-size: 24px;
                        height: 70px;
                        color: white;
                        border: none;
                        background-color: #6d30ab;
                    }
                }
                .login_button{
                    button{
                        margin-top: 40px !important;
                        width: 150px !important;
                        font-size: 16px !important;
                        height: 40px !important;
                    }
                }
            }
        }
    }
 }
@media (min-width: 769px) and (max-width: 1233px) {
    .minerva{
        .login_form{
            .right_content{
                .input_pass{
                    width: 100% !important;
                    input{
                        width: 80% !important;
                    }
                    .field_icon{
                        width: 5% !important;
                    }
                }
            }
        }
    }
}
@media (min-width: 1234px) {
    .minerva{
        .login_form{
            .right_content{
                .input_pass{
                    width: 100% !important;
                    input{
                        width: 78% !important;
                    }
                }
            }
        }
    }
}
