@mixin title_span($fontsize) {
    font-weight: bold;
    font-size: $fontsize;
}
@mixin input_box_background($height) {
    
    height: $height;
    background-color: #f5f5f5;
    text-align: left;
}
@mixin input_content($height,$fontsize) {
    height: $height;
    background-color: #f5f5f5;
    border: none;
    font-size: $fontsize;
    outline: none;
}
.minerva{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    .login_form{
        .left_content{
            background-image: url(../images/bg_login.png);
            background-repeat: no-repeat;
            background-size: cover;
            height:100vh;
            margin: 0 -15px;

            .logo{
                padding-top: 43px;
                padding-left: 48px;
                img{
                    max-width: 183px;
                    width: 100%;
                    height: auto;
                }
            }
            .wellcome{
                margin: 0 2em;
                text-align: center;
                color: white;
                margin-top: 17em;
                .wellcome_title{
                    font-size: 4em;
                    font-weight: bold;
                }
                .wellcome_content{
                    font-size: 1.5em;
                    margin-top: 31px;
                }
            }
        }
        .right_content{
            margin: 13em 0;
            .title{
                text-align: center;
                .login_minerva{
                    font-size: 4em;
                    color: #6d30ab;
                    font-weight: bold;
                }
            }
            .login_block{
                margin: 0 20%;
                .title_username{
                    margin-top: 2em;
                    span{
                        @include title_span(2em);
                    }
                }
                .title_pass{
                    margin-top: 30px;
                    margin-bottom: 15px;
                    span{
                        @include title_span(2em);
                    }
                }
                .input_username{
                    @include input_box_background(70px);
                    margin-top:15px;
                    display: flex;
                    align-items: center;
                    .la-user{
                        font-size: 29px;
                        margin: 0 10px;
                    }
                    input{
                        @include input_content(70px,1.6em);
                        flex-grow: 1;
                    }
                    ::placeholder{
                        font-style: italic;
                    }
                }
                .input_pass{
                    @include input_box_background(70px);
                    display: flex;
                    align-items: center;
                    .la-lock{
                        font-size: 29px;
                        margin: 0 10px;
                        
                    }
                    input{
                        @include input_content(70px,1.6em);
                        flex-grow: 1;
                    }
                    ::placeholder{
                        font-style: italic;
                    }
                    .field_icon{
                        font-size: 29px;
                        color: #6d30ab;
                        margin: 15px;
                    }
                }
                .forgotpass{
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    a{
                        font-size: 24px;
                        color: grey;
                        text-decoration: underline;
                    }
                }
                .login_button{
                    text-align: center;
                    button{
                        margin-top: 30px;
                        max-width: 306px;
                        width: 100%;
                        font-size: 24px;
                        height: 70px;
                        color: white;
                        border: none;
                        outline: none;
                        background-color: #6d30ab;
                        transition: 0.3s ease-in-out;
                    }
                    button:hover {
                        box-shadow: 5px 10px 18px #888888;
                    }
                }
            }
        }
    }
}
//Screen 992px and down: 991px->768px
@media (max-width: 991px) { 
    .minerva{
        .login_form{
            .left_content{
                height:100vh;
                .logo{
                    text-align: center;
                    padding-left: 0;
                }
                .wellcome{
                    margin: 0 2em;
                    margin-top: 10em;
                    .wellcome_title{
                        font-size: 2.5em;
                    }
                    .wellcome_content{
                        font-size: 1.5em;
                        margin-top: 1em;
                    }
                }
            }
            .right_content{
                .title{
                    text-align: center;
                    .login_minerva{
                        font-size: 2.8em;
                    }
                }
                .login_block{
                    margin: 0 20%;
                    .title_username{
                        margin-top: 2em;
                        span{
                            @include title_span(1.5em);
                        }
                    }
                    .title_pass{
                        margin-top: 30px;
                        margin-bottom: 15px;
                        span{
                            @include title_span(1.5em);
                        }
                    }
                    .input_username{
                        height: 50px;
                        margin-top:15px;
                        .la-user{
                            font-size: 23px;
                        }
                        input{
                            height: 50px;
                            font-size: 1.6em;
                        }
                        ::placeholder{
                            font-size: 0.6em;
                        }
                    }
                    .input_pass{
                        height: 50px;
                        .la-lock{
                            font-size: 23px;
                            
                        }
                        input{
                            height: 50px;
                            font-size: 1.6em;
                        }
                        .field_icon{
                            font-size: 23px;
                        }
                        ::placeholder{
                            font-size: 0.6em;
                        }
                    }
                    .forgotpass{
                        a{
                            font-size: 1.3em;
                        }
                    }
                    .login_button{
                        button{
                            max-width: 200px;
                            font-size: 1.2em;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}
//Screen 768px and down: 768px->576px
@media (max-width: 767px) {
    .minerva{
        .login_form{
            .left_content{
                height:40vh;
                .logo{
                    text-align: center;
                    padding-left: 0;
                }
                .wellcome{
                    margin: 0 2em;
                    margin-top: 1em;
                    .wellcome_content{
                        font-size: 1.5em;
                        margin-top: 0;
                    }
                }
            }
            .right_content{
                margin: 1em 0;
            }
        }
    }
}
//Screen 576px and down: 576px->320px
@media (max-width: 575px) { 
    .minerva{
        .login_form{
            .left_content{
                height:30vh;
                .logo{
                    text-align: center;
                    padding-left: 0;
                }
                .wellcome{
                    margin: 0 2em;
                    margin-top: 1em;
                    .wellcome_title{
                        font-size: 2em;
                    }
                    .wellcome_content{
                        font-size: 1.2em;
                        margin-top: 0;
                    }
                }
            }
            .right_content{
                .title{
                    .login_minerva{
                        font-size: 2em;
                    }
                }
                .login_block{
                    .title_username{
                        margin-top: 1em;
                        span{
                            font-size: 1.2em;
                        }
                    }
                    .title_pass{
                        span{
                            font-size: 1.2em;
                        }
                    }
                    .input_username{
                        height: 35px;
                        margin-top:15px;
                        .la-user{
                            font-size: 20px;
                        }
                        input{
                            height: 35px;
                            font-size: 1.6em;
                        }
                        ::placeholder{
                            font-size: 0.5em;
                        }
                    }
                    .input_pass{
                        height: 35px;
                        .la-lock{
                            font-size: 20px;
                            
                        }
                        input{
                            height: 35px;
                            font-size: 1.6em;
                        }
                        .field_icon{
                            font-size: 20px;
                        }
                        ::placeholder{
                            font-size: 0.5em;
                        }
                    }
                    .forgotpass{
                        a{
                            font-size: 1em;
                        }
                    }
                    .login_button{
                        button{
                            margin-top: 0;
                            max-width: 12em;
                            font-size: 1em;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
    
}